<div style="width: 1440px; height: 3863px; position: relative; background: white">
    <div style="width: 1440px; height: 100px; left: 0px; top: 100px; position: absolute">
      <div style="width: 1440px; height: 100px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #A8653B 100%)"></div>
      <div style="width: 434px; height: 85px; left: 503px; top: 7px; position: absolute; text-align: center; color: white; font-size: 36px; font-family: Gabriela; font-weight: 400; line-height: 54px; letter-spacing: 5.40px; word-wrap: break-word">Về chúng tôi</div>
    </div>
    <div style="width: 1440px; height: 261px; left: 0px; top: 1197px; position: absolute">
      <div style="width: 1440px; height: 261px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #A8653B 100%)"></div>
      <div style="width: 537px; height: 85px; left: 183px; top: 46px; position: absolute; text-align: center; color: white; font-size: 36px; font-family: Philosopher; font-weight: 400; line-height: 54px; letter-spacing: 5.40px; word-wrap: break-word">NỘI THẤT VŨ GIA _</div>
      <div style="width: 842px; height: 85px; left: 404px; top: 131px; position: absolute; text-align: center; color: white; font-size: 36px; font-family: Philosopher; font-weight: 400; line-height: 54px; letter-spacing: 5.40px; word-wrap: break-word">_ ĐEM ƯỚC MƠ VỀ TỚI CỬA NHÀ</div>
    </div>
    <div style="width: 280px; left: 206px; top: 983px; position: absolute; text-align: center"><span style="color: #A14C17; font-size: 40px; font-family: Gabriela; font-weight: 400; line-height: 60px; word-wrap: break-word">1 Tỷ<br/></span><span style="color: black; font-size: 26px; font-family: Gabriela; font-weight: 400; line-height: 39px; word-wrap: break-word"> Hoàn trả nếu không đúng vật liệu</span></div>
    <div style="width: 280px; left: 603px; top: 983px; position: absolute; text-align: center"><span style="color: #A14C17; font-size: 40px; font-family: Gabriela; font-weight: 400; line-height: 60px; word-wrap: break-word">5 năm<br/></span><span style="color: black; font-size: 26px; font-family: Gabriela; font-weight: 400; line-height: 39px; word-wrap: break-word">Bảo hành sản <br/>phẩm </span></div>
    <div style="width: 307px; left: 1023px; top: 983px; position: absolute; text-align: center"><span style="color: #A14C17; font-size: 40px; font-family: Gabriela; font-weight: 400; line-height: 60px; word-wrap: break-word">100%<br/></span><span style="color: black; font-size: 26px; font-family: Gabriela; font-weight: 400; line-height: 39px; word-wrap: break-word">Cam kết chính xác so với hồ sơ thiết kế </span></div>
    <img style="width: 591px; height: 585px; left: 76px; top: 301px; position: absolute" src="https://via.placeholder.com/591x585" />
    <div style="width: 662px; left: 706px; top: 301px; position: absolute; color: black; font-size: 26px; font-family: Gabriela; font-weight: 400; line-height: 39px; word-wrap: break-word">Chúng ta đã có nhiều năm gia công cho các thương hiệu nội thất lớn trên thế giới. Các sản phẩm được sản xuất tại Việt Nam, gắn thương hiệu ngoại và quay trở lại bán cho người Việt với giá gấp nhiều lần giá trị sử dụng thực.    Xuất phát từ lòng tự hào dân tộc, khởi nguồn từ khao khát người Việt Nam được dùng hàng hiệu Việt với tiêu chuẩn châu Âu cùng mức chi phí tối ưu. Vũ Gia ra đời với đầy đủ phẩm chất của một thương hiệu gia công chế tác Nội thất cao cấp.    Vũ Gia Furniture nâng tầm phong cách sống sang trọng, đẳng cấp với những giá trị bền vững đi cùng mức chi phí hợp lý.</div>
    <div style="width: 301px; height: 155px; left: 308px; top: 743px; position: absolute"></div>
    <div style="width: 434px; height: 293px; left: 0px; top: 1699px; position: absolute; opacity: 0.50; background: white"></div>
    <div style="width: 572px; height: 260px; left: 96px; top: 1718px; position: absolute; opacity: 0.50; background: #D9D9D9; border-radius: 30px"></div>
    <img style="width: 408px; height: 310px; left: 616px; top: 1669px; position: absolute" src="https://via.placeholder.com/408x310" />
    <div style="width: 256px; height: 419px; left: 77px; top: 1550px; position: absolute; text-align: center; color: #CCCCCC; font-size: 200px; font-family: Philosopher; font-weight: 400; line-height: 300px; letter-spacing: 30px; word-wrap: break-word">$<br/></div>
    <div style="width: 456px; left: 130px; top: 1743px; position: absolute; text-align: justify; color: black; font-size: 24px; font-family: Philosopher; font-weight: 700; line-height: 36px; letter-spacing: 3.60px; word-wrap: break-word">Chi phí gia công chế tác được tính toán cẩn thận sao cho tối ưu nhất với mục tiêu giúp khách hàng Việt có thể tiếp cận các sản phẩm Nội thất chất lượng cao với mức chi phí hợp lý nhất</div>
    <div style="width: 796px; height: 269px; left: 333px; top: 2611px; position: absolute; opacity: 0.50; background: #D9D9D9; border-radius: 30px"></div>
    <img style="width: 464px; height: 315px; left: 838px; top: 2565px; position: absolute" src="https://via.placeholder.com/464x315" />
    <div style="width: 419px; left: 373.77px; top: 2656px; position: absolute; text-align: justify; color: black; font-size: 24px; font-family: Philosopher; font-weight: 700; line-height: 36px; letter-spacing: 3.60px; word-wrap: break-word">Với một nhà máy độc quyền riêng biệt chỉ dành cho Vũ Gia, khách hàng có nhiều lựa chọn tinh chỉnh nội thất theo style cá nhân của chính mình</div>
    <div style="width: 796px; height: 269px; left: 338px; top: 3105px; position: absolute; opacity: 0.50; background: #D9D9D9; border-radius: 30px"></div>
    <div style="width: 505px; left: 613px; top: 3099px; position: absolute; text-align: justify; color: black; font-size: 24px; font-family: Philosopher; font-weight: 700; line-height: 36px; letter-spacing: 3.60px; word-wrap: break-word">Khách hàng có thể trực tiếp tham gia vào quá trình sản xuất, thậm chí có thể tham gia quyết định chỉnh sửa thiết kế sản phẩm cũng như vật liệu ngay trong quá trình chế tác dưới sự hỗ trợ của đội ngũ các Nhà thiết kế, Nghệ nhân của Vũ Gia Furniture</div>
    <div style="width: 140px; height: 154px; left: 160px; top: 2587px; position: absolute">
      <div style="width: 140.01px; height: 154.01px; left: 0px; top: -0.01px; position: absolute; background: #C1C1C1; border: 1px #A8653B solid"></div>
    </div>
    <div style="width: 328px; height: 84px; left: 175px; top: 1611px; position: absolute; text-align: center"><span style="color: black; font-size: 32px; font-family: Philosopher; font-weight: 400; line-height: 48px; letter-spacing: 4.80px; word-wrap: break-word">TỐI ƯU<br/> </span><span style="color: #984B1A; font-size: 32px; font-family: Philosopher; font-weight: 400; line-height: 48px; letter-spacing: 4.80px; word-wrap: break-word">CHI PHÍ</span></div>
    <div style="width: 124px; height: 146.29px; left: 1210px; top: 3084px; position: absolute">
      <div style="width: 79.58px; height: 60.85px; left: 21.59px; top: 0px; position: absolute; background: #D9D9D9; border: 1px #FFEF61 solid"></div>
      <div style="width: 124px; height: 78.33px; left: 0px; top: 67.97px; position: absolute; background: #D9D9D9; border: 1px #FFEF61 solid"></div>
    </div>
    <div style="width: 328px; height: 84px; left: 0px; top: 2752px; position: absolute; text-align: center"><span style="color: black; font-size: 32px; font-family: Philosopher; font-weight: 400; line-height: 48px; letter-spacing: 4.80px; word-wrap: break-word">TỐI ƯU<br/> </span><span style="color: #984B1A; font-size: 32px; font-family: Philosopher; font-weight: 400; line-height: 48px; letter-spacing: 4.80px; word-wrap: break-word">LINH HOẠT</span></div>
    <div style="width: 328px; height: 84px; left: 0px; top: 2752px; position: absolute; text-align: center"><span style="color: black; font-size: 32px; font-family: Philosopher; font-weight: 400; line-height: 48px; letter-spacing: 4.80px; word-wrap: break-word">TỐI ƯU<br/> </span><span style="color: #984B1A; font-size: 32px; font-family: Philosopher; font-weight: 400; line-height: 48px; letter-spacing: 4.80px; word-wrap: break-word">LINH HOẠT</span></div>
    <div style="width: 337px; height: 157px; left: 1106px; top: 3219px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Philosopher; font-weight: 400; line-height: 48px; letter-spacing: 4.80px; word-wrap: break-word">TỐI ƯU<br/>TRẢI NGHIỆM</div>
    <div style="width: 1404px; height: 264px; left: 0px; top: 3599px; position: absolute">
      <div style="width: 1404px; height: 264px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, black 0%, #522B00 100%)"></div>
      <div style="width: 137.48px; height: 105.63px; left: 1134.90px; top: 24.42px; position: absolute">
        <div style="width: 101.40px; height: 19.33px; left: 0px; top: 34.59px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Hồ sơ của tôi</div>
        <div style="width: 137.48px; height: 18.31px; left: 0px; top: 61.04px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Danh mục của tôi</div>
        <div style="width: 84.87px; height: 18.93px; left: 0px; top: 86.70px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Đăng xuất</div>
        <div style="width: 101.40px; height: 21.36px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Tài khoản</div>
      </div>
      <div style="width: 153.95px; height: 107.06px; left: 822.90px; top: 24px; position: absolute">
        <div style="width: 72.04px; height: 17.24px; left: 0px; top: 32.33px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Facebook</div>
        <div style="width: 79.93px; height: 17.24px; left: 0px; top: 61.08px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Instagram</div>
        <div style="width: 53.29px; height: 17.24px; left: 0px; top: 89.82px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Twitter</div>
        <div style="width: 153.95px; height: 20.12px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Mạng xã hội</div>
      </div>
      <div style="width: 188.18px; height: 171.30px; left: 518.70px; top: 24.42px; position: absolute">
        <div style="width: 66.12px; height: 17.24px; left: -0px; top: 31.92px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dự án</div>
        <div style="width: 80.93px; height: 17.29px; left: -0px; top: 61.04px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Các phòng</div>
        <div style="width: 131.62px; height: 17.29px; left: -0px; top: 89.52px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nguồn cảm hứng</div>
        <div style="width: 110.18px; height: 17.29px; left: -0px; top: 118.01px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh nghiệp</div>
        <div style="width: 188.18px; height: 24.42px; left: -0px; top: 146.88px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Điều khoản & Chính sách</div>
        <div style="width: 110.18px; height: 19.33px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Danh sách</div>
      </div>
      <div style="width: 309.08px; height: 205.37px; left: 146.25px; top: 24px; position: absolute">
        <div style="width: 153.94px; height: 20.86px; left: 1.15px; top: 184.51px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">www.noithatvugia.com</div>
        <div style="width: 176.37px; height: 24.33px; left: 1.15px; top: -0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">VU GIA furniture</div>
        <div style="width: 308.10px; height: 63.07px; left: 0.98px; top: 38.06px; position: absolute; color: white; font-size: 16px; font-family: Actor; font-weight: 400; line-height: 24px; word-wrap: break-word">Cửa hàng nội thất ở Việt Nam kể từ năm 2020. Chúng tôi bán hơn 1000 sản phẩm có thương hiệu trên trang web của mình</div>
        <div style="width: 137.76px; height: 22.38px; left: 0px; top: 114.36px; position: absolute">
          <div style="width: 108.06px; height: 21.15px; left: 29.70px; top: 0.49px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">HaNoi, VietNam</div>
          <div style="width: 21.45px; height: 22.38px; left: 0px; top: 0px; position: absolute">
            <img style="width: 16.98px; height: 20.17px; left: 2.23px; top: 0.93px; position: absolute" src="https://via.placeholder.com/17x20" />
          </div>
        </div>
        <div style="width: 131.73px; height: 20.86px; left: 1.95px; top: 149.68px; position: absolute">
          <div style="width: 103.99px; height: 20.86px; left: 27.75px; top: 0px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">+6289 456 3455</div>
          <div style="width: 19.50px; height: 20.35px; left: -0px; top: 0.28px; position: absolute">
            <div style="width: 15.44px; height: 16.11px; left: 2.03px; top: 2.12px; position: absolute; background: #898989"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 449px; height: 167px; left: 970px; top: 3420px; position: absolute">
      <div style="width: 342px; height: 107px; left: 0px; top: 0px; position: absolute">
        <div style="width: 342px; height: 107px; left: 0px; top: 0px; position: absolute; background: white; border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border: 1px black solid"></div>
        <div style="width: 293px; height: 34px; left: 49px; top: 20px; position: absolute; color: black; font-size: 26px; font-family: Gabriela; font-weight: 400; word-wrap: break-word">VUGIA có thể giúp gì cho bạn ?</div>
      </div>
      <div style="width: 129px; height: 113px; left: 320px; top: 54px; position: absolute; background: #547AD0; border: 2px black solid"></div>
    </div>
    <div style="width: 168px; height: 226.09px; left: 1227px; top: 1959px; position: absolute">
      <div style="width: 25.83px; height: 34.10px; left: 22.86px; top: 35.58px; position: absolute; background: #CCCCCC"></div>
      <div style="width: 20.14px; height: 37.67px; left: 68.07px; top: 12.32px; position: absolute; transform: rotate(-4.96deg); transform-origin: 0 0; background: #CCCCCC"></div>
      <div style="width: 40.11px; height: 18.05px; left: 57.86px; top: 0px; position: absolute; background: #CCCCCC"></div>
      <div style="width: 24.40px; height: 35.48px; left: 112.11px; top: 27.36px; position: absolute; background: #CFCFCF"></div>
      <div style="width: 188.41px; height: 151.04px; left: 0px; top: 202.43px; position: absolute; transform: rotate(-84.27deg); transform-origin: 0 0; background: #CCCCCC"></div>
      <div style="width: 90.19px; height: 181.94px; left: 68.91px; top: 32.96px; position: absolute; background: #CFCFCF"></div>
      <div style="width: 136.92px; height: 169.87px; left: 5.89px; top: 50.45px; position: absolute; transform: rotate(-11.86deg); transform-origin: 0 0; background: #A8653B"></div>
      <div style="width: 81.12px; height: 164.45px; left: 70.89px; top: 41.66px; position: absolute; background: #D9D9D9"></div>
      <div style="width: 129.37px; height: 142.90px; left: 1.40px; top: 96.38px; position: absolute; transform: rotate(-38.03deg); transform-origin: 0 0; background: #F2F2F2"></div>
      <div style="width: 70.71px; height: 144.77px; left: 73.20px; top: 51.19px; position: absolute; background: white"></div>
      <div style="width: 7.11px; height: 8.94px; left: 76.65px; top: 48.69px; position: absolute; background: #A8653B"></div>
      <div style="width: 6.92px; height: 8.70px; left: 115.90px; top: 65.28px; position: absolute; background: #D9D9D9"></div>
      <div style="width: 7.10px; height: 8.94px; left: 134.19px; top: 111.46px; position: absolute; background: #D9D9D9"></div>
      <div style="width: 7.06px; height: 8.72px; left: 121.11px; top: 160.70px; position: absolute; background: #D9D9D9"></div>
      <div style="width: 7.11px; height: 8.94px; left: 84.23px; top: 183.56px; position: absolute; background: #D9D9D9"></div>
      <div style="width: 7.06px; height: 8.88px; left: 45.10px; top: 167.12px; position: absolute; background: #A8653B"></div>
      <div style="width: 7.10px; height: 8.94px; left: 26.71px; top: 120.79px; position: absolute; background: #A8653B"></div>
      <div style="width: 7.06px; height: 8.88px; left: 39.83px; top: 71.82px; position: absolute; background: #A8653B"></div>
      <div style="width: 28.31px; height: 52.21px; left: 60.37px; top: 74.42px; position: absolute; background: #CCCCCC"></div>
      <div style="width: 57.03px; height: 29.20px; left: 79.31px; top: 114.60px; position: absolute; background: #2CACC6"></div>
      <div style="width: 4.65px; height: 5.82px; left: 81.59px; top: 117.69px; position: absolute; background: white"></div>
      <div style="width: 47.31px; height: 26.52px; left: 89.03px; top: 117.28px; position: absolute; background: #34C3D6"></div>
    </div>
    <div style="width: 328px; height: 84px; left: 942px; top: 2087px; position: absolute; text-align: center"><span style="color: black; font-size: 32px; font-family: Philosopher; font-weight: 400; line-height: 48px; letter-spacing: 4.80px; word-wrap: break-word">TỐI ƯU<br/> </span><span style="color: #984B1A; font-size: 32px; font-family: Philosopher; font-weight: 400; line-height: 48px; letter-spacing: 4.80px; word-wrap: break-word">THỜI GIAN</span></div>
    <div style="width: 641px; height: 272px; left: 762px; top: 2184px; position: absolute; opacity: 0.50; background: #D9D9D9; border-radius: 30px"></div>
    <div style="width: 543px; left: 820px; top: 2225px; position: absolute; text-align: justify; color: black; font-size: 24px; font-family: Philosopher; font-weight: 700; line-height: 36px; letter-spacing: 3.60px; word-wrap: break-word">Tinh tốc hoàn thiện sản phẩm, tối ưu thời gian chế tác của từng khâu, xóa bỏ mọi bước vận chuyển, cung cấp giải pháp sản xuất đồng bộ cho tất cả đồ nội thất</div>
    <img style="width: 423.52px; height: 330.12px; left: 359.51px; top: 2124px; position: absolute" src="https://via.placeholder.com/424x330" />
    <div style="width: 1440px; height: 94px; left: 0px; top: 6px; position: absolute">
      <div style="width: 1440px; height: 94px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #A8653B 100%)"></div>
      <div style="width: 1334.57px; height: 37.60px; left: 53px; top: 28.20px; position: absolute">
        <img style="width: 37.86px; height: 37.60px; left: 1296.71px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/38x38" />
        <div style="width: 112px; height: 31.96px; left: 1010px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh nghiệp</div>
        <div style="width: 84px; height: 20.68px; left: 1196px; top: 7.52px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Đăng suất</div>
        <div style="width: 24px; height: 22.56px; left: 1148px; top: 8.46px; position: absolute">
          <div style="width: 18px; height: 18.80px; left: 3px; top: 1.88px; position: absolute; background: white; border: 1px black solid"></div>
        </div>
        <div style="width: 42px; height: 22.56px; left: 924px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Blogs</div>
        <div style="width: 94px; height: 22.56px; left: 790px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Khách hàng</div>
        <div style="width: 94px; height: 22.56px; left: 660px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nhà thiết kế</div>
        <div style="width: 80px; height: 22.56px; left: 545px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nhân viên</div>
        <div style="width: 58px; height: 22.56px; left: 452px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dịch vụ</div>
        <div style="width: 35px; height: 31.96px; left: 0px; top: 0.94px; position: absolute; background: white"></div>
        <div style="width: 76px; height: 22.56px; left: 91px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Tài khoản</div>
        <div style="width: 66px; height: 22.56px; left: 206px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Lịch hẹn</div>
        <div style="width: 105px; height: 24px; left: 309px; top: 5.64px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Các dự án</div>
          <div style="width: 20px; height: 20px; position: relative; transform: rotate(90deg); transform-origin: 0 0">
            <div style="width: 5.83px; height: 11.67px; left: 7.50px; top: 4.17px; position: absolute; border: 1.80px white solid"></div>
          </div>
        </div>
      </div>
      <div style="width: 1440px; height: 94px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 94px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #A8653B 100%)"></div>
        <div style="width: 1334.57px; height: 37.60px; left: 53px; top: 28.20px; position: absolute">
          <img style="width: 37.86px; height: 37.60px; left: 1296.71px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/38x38" />
          <div style="width: 112px; height: 31.96px; left: 1010px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh Nghiệp</div>
          <div style="width: 84px; height: 20.68px; left: 1196px; top: 7.52px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Đăng Suất</div>
          <div style="width: 24px; height: 22.56px; left: 1148px; top: 8.46px; position: absolute">
            <div style="width: 18px; height: 18.80px; left: 3px; top: 1.88px; position: absolute; background: white; border: 1px black solid"></div>
          </div>
          <div style="width: 42px; height: 22.56px; left: 924px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Blogs</div>
          <div style="width: 96px; height: 22.56px; left: 790px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Khách Hàng</div>
          <div style="width: 97px; height: 22.56px; left: 660px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Kiến Trúc Sư</div>
          <div style="width: 82px; height: 22.56px; left: 545px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nhân Viên</div>
          <div style="width: 60px; height: 22.56px; left: 452px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dịch Vụ</div>
          <div style="width: 35px; height: 31.96px; left: 0px; top: 0.94px; position: absolute; background: white"></div>
          <div style="width: 77px; height: 22.56px; left: 91px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Tài Khoản</div>
          <div style="width: 68px; height: 22.56px; left: 206px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Lịch Hẹn</div>
          <div style="width: 113px; height: 24px; left: 309px; top: 5.64px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word"> Các Dự Án</div>
            <div style="width: 20px; height: 20px; position: relative; transform: rotate(90deg); transform-origin: 0 0">
              <div style="width: 5.83px; height: 11.67px; left: 7.50px; top: 4.17px; position: absolute; border: 1.80px white solid"></div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 1440px; height: 94px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 94px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #A8653B 100%)"></div>
        <div style="width: 1334.57px; height: 37.60px; left: 53px; top: 28.20px; position: absolute">
          <img style="width: 37.86px; height: 37.60px; left: 1296.71px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/38x38" />
          <div style="width: 112px; height: 31.96px; left: 1010px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh nghiệp</div>
          <div style="width: 84px; height: 20.68px; left: 1196px; top: 7.52px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Đăng suất</div>
          <div style="width: 24px; height: 22.56px; left: 1148px; top: 8.46px; position: absolute">
            <div style="width: 18px; height: 18.80px; left: 3px; top: 1.88px; position: absolute; background: white; border: 1px black solid"></div>
          </div>
          <div style="width: 42px; height: 22.56px; left: 924px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Blogs</div>
          <div style="width: 94px; height: 22.56px; left: 790px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Khách hàng</div>
          <div style="width: 94px; height: 22.56px; left: 660px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nhà thiết kế</div>
          <div style="width: 80px; height: 22.56px; left: 545px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nhân viên</div>
          <div style="width: 58px; height: 22.56px; left: 452px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dịch vụ</div>
          <div style="width: 35px; height: 31.96px; left: 0px; top: 0.94px; position: absolute; background: white"></div>
          <div style="width: 76px; height: 22.56px; left: 91px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Tài khoản</div>
          <div style="width: 66px; height: 22.56px; left: 206px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Lịch hẹn</div>
          <div style="width: 105px; height: 24px; left: 309px; top: 5.64px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Các dự án</div>
            <div style="width: 20px; height: 20px; position: relative; transform: rotate(90deg); transform-origin: 0 0">
              <div style="width: 5.83px; height: 11.67px; left: 7.50px; top: 4.17px; position: absolute; border: 1.80px white solid"></div>
            </div>
          </div>
        </div>
        <div style="width: 1440px; height: 94px; left: 0px; top: 0px; position: absolute">
          <div style="width: 1440px; height: 94px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #9A5D37 92%, #A8653B 100%)"></div>
          <div style="width: 1334.57px; height: 37.60px; left: 53px; top: 28.20px; position: absolute">
            <img style="width: 37.86px; height: 37.60px; left: 1296.71px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/38x38" />
            <div style="width: 112px; height: 31.96px; left: 1010px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh Nghiệp</div>
            <div style="width: 24px; height: 22.56px; left: 1148px; top: 8.46px; position: absolute">
              <div style="width: 18px; height: 18.80px; left: 3px; top: 1.88px; position: absolute; background: white; border: 1px black solid"></div>
            </div>
            <div style="width: 42px; height: 22.56px; left: 924px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Blogs</div>
            <div style="width: 96px; height: 22.56px; left: 790px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Khách Hàng</div>
            <div style="width: 97px; height: 22.56px; left: 660px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Kiến Trúc Sư</div>
            <div style="width: 82px; height: 22.56px; left: 545px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nhân Viên</div>
            <div style="width: 60px; height: 22.56px; left: 452px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dịch Vụ</div>
            <div style="width: 35px; height: 31.96px; left: 0px; top: 0.94px; position: absolute; background: white"></div>
            <div style="width: 77px; height: 22.56px; left: 91px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Tài Khoản</div>
            <div style="width: 68px; height: 22.56px; left: 206px; top: 5.64px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Lịch Hẹn</div>
            <div style="width: 113px; height: 24px; left: 309px; top: 5.64px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
              <div style="color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word"> Các Dự Án</div>
              <div style="width: 20px; height: 20px; position: relative; transform: rotate(90deg); transform-origin: 0 0">
                <div style="width: 5.83px; height: 11.67px; left: 7.50px; top: 4.17px; position: absolute; border: 1.80px white solid"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>