<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+SemiBold&display=swap" rel="stylesheet" />
    <link href="../css/accountList.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v759_4501">
        <div class="v759_4502">
            <div class="v759_4503">
                <div class="v759_4504"></div>
                <span class="v759_4505">Accounts List</span>
            </div>
            <div class="v759_4506">
                <div class="v759_4507"></div>
                <span class="v759_4508">Vu Gia</span>
            </div>
        </div>
        <div class="v759_4509">
            <div class="v759_4510"></div>
            <span class="v759_4511">--Choose--</span>
            <div class="name"></div>
        </div>
        <span class="v759_4513">-</span>
        <span class="v759_4514">Permission</span>
        <span class="v759_4515">Created Date</span>
        <div class="v759_4516"></div>
        <div class="v759_4517"></div>
        <div class="v759_4518">
            <div class="v759_4519"></div>
            <span class="v759_4520">Search</span>
        </div>
        <div class="v759_4521">
            <div class="v759_4522"></div>
            <div class="name"></div>
        </div>
        <div class="v759_4524">
            <div class="v759_4525"></div>
            <div class="name"></div>
        </div>
        <span class="v759_4527">Account code</span>
        <span class="v759_4528">User name</span>
        <div class="v759_4529"></div>
        <span class="v759_4530">Account code</span>
        <span class="v759_4531">User name</span>
        <span class="v759_4532">Permission</span>
        <span class="v759_4533">Created Date</span>
        <span class="v759_4534">Action</span>
        <div class="name"></div>
        <div class="v759_4536">
            <span class="v759_4537">KH21SA34</span>
            <span class="v759_4538">Nguyễn Thị D</span>
            <div class="v759_4539">
                <span class="v759_4540">Customer</span>
                <div class="name"></div>
            </div>
            <span class="v759_4542">20/12/2014</span>
            <div class="v759_4543">
                <div class="v759_4544"></div>
                <span class="v759_4545">Edit</span>
            </div>
            <div class="v759_4546">
                <div class="v759_4547"></div>
                <span class="v759_4548">Delete</span>
            </div>
        </div>
        <!-- Nội dung còn lại của danh sách tài khoản -->
    </div>
    <div class="name"></div>
    <div class="v759_4662">
        <div class="v759_4663"></div>
        <div class="v759_4664">
            <span class="v759_4665">Designer</span>
        </div>
        <div class="v759_4666">
            <div class="v759_4667"></div>
            <span class="v759_4668">About</span>
            <span class="v759_4669">Log out</span>
            <div class="name"></div>
            <span class="v759_4671">Blogs</span>
            <span class="v759_4672">Customer</span>
            <span class="v759_4673">Staff</span>
            <div class="v759_4674"></div>
            <span class="v759_4675">Account</span>
            <span class="v759_4676">Schedule</span>
            <div class="v759_4677">
                <span class="v759_4678">Project</span>
                <div class="name"></div>
            </div>
        </div>
    </div>
</body>

</html>
