<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet" />
        <link href="../css/bookDesigner.css" rel="stylesheet" /><title>Document</title></head>
        <body>
            <div class="v533_845"><div class="v533_846"></div><div class="v533_847"></div>
            <span class="v533_848">Book Designer</span>
            <span class="v533_849">Designer Name: Văn Minh Tuấn​</span>
            <span class="v533_850">Date:</span>
            <span class="v533_851">Time:</span>
            <span class="v533_852">Phone number:</span>
            <span class="v533_853">Email:</span>
            <span class="v533_854">Note:</span>
            <div class="v533_855"></div>
            <div class="v533_856"></div>
            <div class="v533_857"></div>
            <div class="v533_858"></div>
            <span class="v533_859">24/12/2024</span>
            <span class="v533_860">Sáng:       8h00 – 11h30​</span>
            <span class="v533_861">Chiều:   14h00 – 17h30 ​</span
                <span class="v533_862">0123456789​</span>
                <span class="v533_863">abc123@gmail.com​</span>
                <div class="v533_864"></div><div class="v533_865"></div>
                <span class="v533_866">Change date</span><div class="v533_867"><div class="v533_868"></div>
                <span class="v533_869">Confirm</span></div><div class="v533_870"><div class="v533_871"></div>
                <span class="v533_872">Confirm</span></div><div class="v533_873"></div><div class="v533_874"></div>
                <div class="v533_875"></div>
                <span class="v533_876">Sure you want to schedule an appointment with this designer?​</span>
                <div class="v533_877"></div><span class="v533_878">Cancle</span><span class="v533_879">Alert</span>
                <div class="v533_880"></div><div class="v533_881"></div><span class="v533_882">Đang chờ phê duyệt</span></div>
</body></html>