<div style="width: 1440px; height: 1024px; position: relative; background-image: url(https://via.placeholder.com/1440x1024)">
    <div style="width: 59.12px; height: 58.33px; left: 49px; top: 64px; position: absolute; border: 2px black solid"></div>
    <div style="width: 11.82px; height: 23.33px; left: 66.74px; top: 81.50px; position: absolute; border: 2px black solid"></div>
    <div style="width: 23.65px; height: 0px; left: 66.74px; top: 93.17px; position: absolute; border: 2px black solid"></div>
    <div style="width: 1440px; height: 120px; left: 0px; top: 40px; position: absolute; text-align: center; color: black; font-size: 65px; font-family: Inter; font-weight: 700; word-wrap: break-word"> </div>
    <div style="width: 980px; height: 177px; left: 225px; top: 160px; position: absolute">
      <div style="width: 192px; height: 177px; left: 0px; top: 0px; position: absolute">
        <div style="width: 192px; height: 177px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, black 0%, #6B3717 100%); border-radius: 9999px"></div>
        <div style="width: 149px; left: 21px; top: 59px; position: absolute; text-align: center; color: white; font-size: 48px; font-family: Inter; font-weight: 300; word-wrap: break-word">1</div>
      </div>
      <div style="width: 149px; height: 96px; left: 330px; top: 40px; position: absolute">
        <div style="width: 104px; height: 96px; left: 23px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%)"></div>
        <div style="width: 149px; height: 33px; left: 0px; top: 29px; position: absolute; text-align: center; color: white; font-size: 40px; font-family: Inter; font-weight: 300; word-wrap: break-word">2</div>
      </div>
      <div style="width: 107px; height: 98px; left: 622px; top: 40px; position: absolute">
        <div style="width: 107px; height: 98px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 9999px"></div>
        <div style="width: 106px; height: 33px; left: 1px; top: 32px; position: absolute; text-align: center; color: white; font-size: 40px; font-family: Inter; font-weight: 300; word-wrap: break-word">3</div>
      </div>
      <div style="width: 108px; height: 99px; left: 872px; top: 37px; position: absolute">
        <div style="width: 108px; height: 99px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 9999px"></div>
        <div style="width: 99px; height: 33px; left: 4px; top: 29px; position: absolute; text-align: center; color: white; font-size: 40px; font-family: Inter; font-weight: 300; word-wrap: break-word">4</div>
      </div>
      <div style="width: 161px; height: 0px; left: 192px; top: 89px; position: absolute; border: 1px black solid"></div>
      <div style="width: 165px; height: 0px; left: 457px; top: 88px; position: absolute; border: 1px black solid"></div>
      <div style="width: 143.01px; height: 0px; left: 729px; top: 89px; position: absolute; transform: rotate(-0.80deg); transform-origin: 0 0; border: 1px black solid"></div>
    </div>
    <div style="width: 754px; height: 103px; left: 183px; top: 469px; position: absolute; background: white; border-radius: 30px; border: 1px black solid"></div>
    <div style="width: 277px; height: 18px; left: 187px; top: 439px; position: absolute; color: black; font-size: 16px; font-family: IBM Plex Sans Thai; font-weight: 300; word-wrap: break-word">Tên Dự Án</div>
    <div style="width: 131px; height: 57px; left: 1042px; top: 489px; position: absolute; color: black; font-size: 37px; font-family: IBM Plex Sans Thai; font-weight: 300; word-wrap: break-word">Ảnh</div>
    <div style="width: 500px; height: 47px; left: 183px; top: 722px; position: absolute">
      <div style="width: 500px; height: 47px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px; border: 1px black solid"></div>
      <div style="width: 458px; height: 16.87px; left: 42px; top: 15.06px; position: absolute; color: black; font-size: 26px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">Ngày Thiết Kế:</div>
    </div>
    <div style="width: 376px; height: 47px; left: 807px; top: 636px; position: absolute">
      <div style="width: 376px; height: 47px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px; border: 1px black solid"></div>
      <div style="width: 344.42px; height: 16.87px; left: 31.58px; top: 15.06px; position: absolute; color: black; font-size: 26px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">Loại Khác:</div>
    </div>
    <div style="width: 449px; height: 47px; left: 183px; top: 636px; position: absolute">
      <div style="width: 449px; height: 47px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px; border: 1px black solid"></div>
      <div style="width: 175px; height: 25px; left: 42px; top: 11px; position: absolute; color: black; font-size: 26px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">Loại Dự Án:</div>
      <div style="width: 147px; height: 25px; left: 235px; top: 11px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.60); font-size: 26px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">-- Chọn --</div>
    </div>
    <div style="width: 501px; height: 47px; left: 183px; top: 788px; position: absolute">
      <div style="width: 500px; height: 47px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px; border: 1px black solid"></div>
      <div style="width: 458px; height: 16.87px; left: 43px; top: 15px; position: absolute; color: black; font-size: 26px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">Ngày Xây Dựng:</div>
    </div>
    <div style="width: 394px; height: 47px; left: 183px; top: 854px; position: absolute">
      <div style="width: 394px; height: 47px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px; border: 1px black solid"></div>
      <div style="width: 324px; height: 17px; left: 42px; top: 14px; position: absolute; color: black; font-size: 26px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">Thiết Kế Bởi: ​      AB123456</div>
    </div>
    <div style="width: 417px; height: 50px; left: 225px; top: 496px; position: absolute; color: black; font-size: 26px; font-family: Gabriela; font-weight: 400; line-height: 39px; word-wrap: break-word">Mr Duc - Thach That</div>
    <div style="width: 175px; height: 74px; left: 1131px; top: 886px; position: absolute">
      <div style="width: 174px; height: 74px; left: 1px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 30px"></div>
      <div style="width: 174px; height: 46px; left: 0px; top: 14px; position: absolute; text-align: center; color: white; font-size: 36px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">Tiếp</div>
    </div>
    <div style="width: 127px; height: 43px; left: 1144px; top: 498px; position: absolute">
      <div style="width: 127px; height: 43px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 30px"></div>
      <div style="width: 127px; height: 26.73px; left: 0px; top: 8.13px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">Tải Lên</div>
    </div>
    <div style="width: 85.41px; height: 29px; left: 609px; top: 865px; position: absolute">
      <div style="width: 85.41px; height: 29px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 10px"></div>
      <div style="width: 80.81px; height: 21px; left: 2.61px; top: 4px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">Kiểm tra</div>
    </div>
    <div style="width: 226px; height: 22px; left: 290px; top: 907px; position: absolute; color: black; font-size: 16px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">* Không Tìm Thấy Nhà Thiết Kế</div>
    <div style="width: 179px; height: 22px; left: 276px; top: 929px; position: absolute; color: black; font-size: 16px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word"> </div>
    <div style="width: 18px; height: 18px; left: 764px; top: 652px; position: absolute; background: #D9D9D9; border: 1px black solid"></div>
    <div style="width: 1440px; height: 120px; left: 0px; top: 37px; position: absolute; text-align: center; color: black; font-size: 65px; font-family: Inter; font-weight: 700; word-wrap: break-word">Tạo Catalog Mới</div>
  </div>