<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet" />
    <link href="./css/createproject.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v493_766">
        <div class="v493_789"></div>
        <div class="v493_790"></div>
        <div class="v493_791"></div><span class="v493_792">Create new Project</span>
        <div class="v602_970">
            <div class="v602_930">
                <div class="v493_793"></div><span class="v493_797">1</span>
            </div>
            <div class="v602_931">
                <div class="v493_794"></div><span class="v493_798">2</span>
            </div>
            <div class="v602_932">
                <div class="v493_795"></div><span class="v493_799">3</span>
            </div>
            <div class="v602_933">
                <div class="v493_796"></div><span class="v493_800">4</span>
            </div>
            <div class="v493_801"></div>
            <div class="name"></div>
            <div class="v493_803"></div>
        </div>
        <div class="v493_804"></div><span class="v493_805">Project name</span><span class="v493_806">Image</span>
        <div class="v493_807">
            <div class="v493_808">
                <div class="v493_809"></div><span class="v493_810">Design date:</span>
            </div>
        </div>
        <div class="v493_811">
            <div class="v493_812">
                <div class="v493_813"></div><span class="v493_814">Project type: </span><span class="v578_761">-- choose
                    --</span>
            </div>
        </div>
        <div class="v493_815">
            <div class="v493_816"></div><span class="v493_817">Construction date:</span>
        </div>
        <div class="v493_818">
            <div class="v493_819"></div><span class="v493_820">Design by: ​ AB123456</span>
        </div><span class="v493_821">Căn hộ NSUT Xuân Bắc </span>
        <div class="v493_822">
            <div class="v493_823"></div><span class="v493_824">Next</span>
        </div>
        <div class="v493_825">
            <div class="v493_826"></div><span class="v493_827">Browse</span>
        </div>
        <div class="v493_828">
            <div class="v493_829"></div>
            <div class="v493_830"></div><span class="v493_831">Check</span>
        </div><span class="v493_832">* Designer not found</span><span class="v493_833">Designer: Văn Minh Tuấn</span>
        <div class="v493_837"></div>
        <div class="name"></div>
    </div>
</body>

</html>