<div style="width: 1440px; height: 1387px; position: relative; background: white">
    <div style="width: 1440px; height: 85px; left: 0px; top: 100px; position: absolute">
      <div style="width: 1145px; height: 85px; left: 295px; top: 0px; position: absolute">
        <div style="width: 1145px; height: 85px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #A8653B 100%); box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15)"></div>
        <div style="width: 371px; height: 29px; left: 42px; top: 28px; position: absolute; color: white; font-size: 36px; font-family: Roboto; font-weight: 500; line-height: 24px; word-wrap: break-word">Danh sách kiến trúc sư</div>
      </div>
      <div style="width: 295px; height: 85px; left: 0px; top: 0px; position: absolute">
        <div style="width: 295px; height: 85px; left: 0px; top: 0px; position: absolute; background: #CFCFCF; box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15)"></div>
        <div style="width: 295px; height: 85px; left: 0px; top: 0px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Sacramento; font-weight: 400; line-height: 24px; word-wrap: break-word">Vu Gia</div>
      </div>
    </div>
    <div style="width: 1330px; height: 45px; left: 62px; top: 353px; position: absolute; background: linear-gradient(90deg, #422817 0%, #A8653B 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 21px"></div>
    <div style="width: 156px; height: 45px; left: 88px; top: 353px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Mã thiết kế</div>
    <div style="width: 155px; height: 45px; left: 308px; top: 353px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Tên kiến trúc sư</div>
    <div style="width: 140px; height: 45px; left: 601px; top: 353px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Quận</div>
    <div style="width: 153px; height: 45px; left: 850px; top: 353px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Lĩnh vực thiết kế</div>
    <div style="width: 140px; height: 45px; left: 1085px; top: 353px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Thông tin</div>
    <div style="width: 91px; height: 45px; left: 1253px; top: 353px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">CV</div>
    <div style="width: 1440px; height: 72px; left: 0px; top: 1055px; position: absolute">
      <div style="width: 1440px; height: 72px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 72px; left: 0px; top: 72px; position: absolute; background: white"></div>
        <div style="width: 26.15px; height: 36px; left: 1399.90px; top: 18px; position: absolute; background: #DFDFDF; border-radius: 2px; border: 1px #C1C1C1 solid"></div>
        <div style="width: 26.15px; height: 36px; left: 1365.04px; top: 18px; position: absolute; background: white; border-radius: 4px"></div>
        <div style="width: 26.15px; height: 36px; left: 1330.17px; top: 18px; position: absolute; background: white; border-radius: 4px"></div>
        <div style="width: 26.15px; height: 36px; left: 1295.30px; top: 18px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 2px"></div>
        <div style="width: 26.15px; height: 36px; left: 1260.44px; top: 18px; position: absolute; background: white; border-radius: 4px"></div>
        <div style="width: 26.15px; height: 36px; left: 1225.57px; top: 18px; position: absolute; background: #DFDFDF; border-radius: 2px; border: 1px #C1C1C1 solid"></div>
        <div style="left: 1271.77px; top: 24.80px; position: absolute; text-align: center; color: #6C757D; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 22px; word-wrap: break-word">1</div>
        <div style="left: 13.95px; top: 24.80px; position: absolute; color: #424242; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 22px; word-wrap: break-word">Showing 1 to 10 of 50 entries</div>
        <div style="left: 1304.89px; top: 24.80px; position: absolute; color: white; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 22px; word-wrap: break-word">2</div>
        <div style="left: 1338.76px; top: 24.80px; position: absolute; text-align: center; color: #6C757D; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 22px; word-wrap: break-word">3</div>
        <div style="left: 1373.62px; top: 24.80px; position: absolute; text-align: center; color: #6C757D; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 22px; word-wrap: break-word">4</div>
        <div style="width: 13.95px; height: 19.20px; left: 1406px; top: 26.40px; position: absolute">
          <div style="width: 3.49px; height: 9.60px; left: 5.23px; top: 4.80px; position: absolute; border: 1px #343A40 solid"></div>
        </div>
        <div style="width: 13.95px; height: 19.20px; left: 1245.62px; top: 26.40px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
          <div style="width: 3.49px; height: 9.60px; left: 5.23px; top: 4.80px; position: absolute; border: 1px #343A40 solid"></div>
        </div>
      </div>
      <div style="width: 1440px; height: 2.40px; left: 0px; top: 0px; position: absolute; background: #C1C1C1"></div>
    </div>
    <div style="width: 1440px; height: 100px; left: 0px; top: 0px; position: absolute">
      <div style="width: 1440px; height: 100px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #A8653B 100%)"></div>
      <div style="width: 69px; height: 24px; left: 614px; top: 36px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Designer</div>
      </div>
      <div style="width: 1334.57px; height: 40px; left: 53px; top: 30px; position: absolute">
        <img style="width: 37.86px; height: 40px; left: 1296.71px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/38x40" />
        <div style="width: 56px; height: 22px; left: 880px; top: 8px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">About</div>
        <div style="width: 64px; height: 22px; left: 1196px; top: 8px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Log out</div>
        <div style="width: 24px; height: 24px; left: 1122px; top: 9px; position: absolute">
          <div style="width: 18px; height: 20px; left: 3px; top: 2px; position: absolute; background: white; border: 1px black solid"></div>
        </div>
        <div style="left: 801px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Blogs</div>
        <div style="left: 678px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Customer</div>
        <div style="left: 481px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Staff</div>
        <div style="width: 35px; height: 34px; left: 0px; top: 6px; position: absolute; background: white"></div>
        <div style="left: 135px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Account</div>
        <div style="left: 243px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Schedule</div>
        <div style="width: 81px; height: 24px; left: 357px; top: 6px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Project</div>
          <div style="width: 20px; height: 20px; position: relative; transform: rotate(90deg); transform-origin: 0 0">
            <div style="width: 5.83px; height: 11.67px; left: 7.50px; top: 4.17px; position: absolute; border: 1.80px white solid"></div>
          </div>
        </div>
      </div>
      <div style="width: 1440px; height: 100px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 100px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #A8653B 100%)"></div>
        <div style="width: 97px; height: 24px; left: 614px; top: 36px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Kiến Trúc Sư</div>
        </div>
        <div style="width: 1334.57px; height: 40px; left: 53px; top: 30px; position: absolute">
          <img style="width: 37.86px; height: 40px; left: 1296.71px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/38x40" />
          <div style="width: 121px; height: 22px; left: 881px; top: 7px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh Nghiệp</div>
          <div style="width: 84px; height: 22px; left: 1188px; top: 7px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Đăng Xuất</div>
          <div style="width: 24px; height: 24px; left: 1123px; top: 8px; position: absolute">
            <div style="width: 18px; height: 20px; left: 3px; top: 2px; position: absolute; background: white; border: 1px black solid"></div>
          </div>
          <div style="left: 806px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Blogs</div>
          <div style="left: 681px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Khách Hàng</div>
          <div style="left: 460px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nhân Viên</div>
          <div style="width: 35px; height: 34px; left: 0px; top: 6px; position: absolute; background: white"></div>
          <div style="left: 135px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Tài Khoản</div>
          <div style="left: 243px; top: 6px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Lịch Hẹn</div>
          <div style="width: 77px; height: 24px; left: 357px; top: 6px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dự Án</div>
            <div style="width: 20px; height: 20px; position: relative; transform: rotate(90deg); transform-origin: 0 0">
              <div style="width: 5.83px; height: 11.67px; left: 7.50px; top: 4.17px; position: absolute; border: 1.80px white solid"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 1244px; height: 71px; left: 100px; top: 422px; position: absolute">
      <div style="width: 142px; height: 70px; left: 0px; top: 0px; position: absolute; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">DE95G238</div>
      <div style="width: 219px; height: 70px; left: 193px; top: 0px; position: absolute; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Trần Văn A</div>
      <div style="width: 219px; height: 70px; left: 461px; top: 0px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Hà Đông</div>
      <div style="width: 230px; height: 70px; left: 705px; top: 1px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Chung cư</div>
      <div style="width: 92.54px; height: 40px; left: 1009.21px; top: 16px; position: absolute">
        <div style="width: 92.54px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 10px; border: 1px white solid"></div>
        <div style="width: 87.39px; height: 29px; left: 1.71px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Xem</div>
      </div>
      <div style="width: 92.54px; height: 40px; left: 1151.46px; top: 16px; position: absolute">
        <div style="width: 92.54px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 10px; border: 1px white solid"></div>
        <div style="width: 87.39px; height: 29px; left: 1.71px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Xem</div>
      </div>
    </div>
    <div style="width: 1244px; height: 71px; left: 100px; top: 479px; position: absolute">
      <div style="width: 142px; height: 70px; left: 0px; top: 0px; position: absolute; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">DE3684S2</div>
      <div style="width: 219px; height: 70px; left: 193px; top: 0px; position: absolute; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Nguyễn Văn B</div>
      <div style="width: 219px; height: 70px; left: 461px; top: 0px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Thanh Xuân</div>
      <div style="width: 230px; height: 70px; left: 705px; top: 1px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Nhà phố</div>
      <div style="width: 92.54px; height: 40px; left: 1009.21px; top: 16px; position: absolute">
        <div style="width: 92.54px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 10px; border: 1px white solid"></div>
        <div style="width: 87.39px; height: 29px; left: 1.71px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Xem</div>
      </div>
      <div style="width: 92.54px; height: 40px; left: 1151.46px; top: 16px; position: absolute">
        <div style="width: 92.54px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 10px; border: 1px white solid"></div>
        <div style="width: 87.39px; height: 29px; left: 1.71px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Xem</div>
      </div>
    </div>
    <div style="width: 1244px; height: 71px; left: 100px; top: 536px; position: absolute">
      <div style="width: 142px; height: 70px; left: 0px; top: 0px; position: absolute; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">DE4952G2</div>
      <div style="width: 219px; height: 70px; left: 193px; top: 0px; position: absolute; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Cao Thị Thu C</div>
      <div style="width: 219px; height: 70px; left: 461px; top: 0px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Đống Đa</div>
      <div style="width: 230px; height: 70px; left: 705px; top: 1px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Biệt thự</div>
      <div style="width: 92.54px; height: 40px; left: 1009.21px; top: 16px; position: absolute">
        <div style="width: 92.54px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 10px; border: 1px white solid"></div>
        <div style="width: 87.39px; height: 29px; left: 1.71px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Xem</div>
      </div>
      <div style="width: 92.54px; height: 40px; left: 1151.46px; top: 16px; position: absolute">
        <div style="width: 92.54px; height: 40px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 10px; border: 1px white solid"></div>
        <div style="width: 87.39px; height: 29px; left: 1.71px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Xem</div>
      </div>
    </div>
    <div style="width: 221px; height: 39px; left: 145px; top: 277px; position: absolute; color: black; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Tên kiến trúc sư</div>
    <div style="width: 221px; height: 39px; left: 673px; top: 277px; position: absolute; color: black; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Lĩnh vực thiết kế</div>
    <div style="width: 221px; height: 39px; left: 145px; top: 222px; position: absolute; color: black; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Mã thiết kế</div>
    <div style="width: 221px; height: 39px; left: 673px; top: 222px; position: absolute; color: black; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Quận</div>
    <div style="width: 232px; height: 39px; left: 319px; top: 222px; position: absolute; background: white; border-radius: 10px; border: 1px black solid"></div>
    <div style="width: 232px; height: 39px; left: 319px; top: 277px; position: absolute; background: white; border-radius: 10px; border: 1px black solid"></div>
    <div style="width: 232px; height: 39px; left: 837px; top: 222px; position: absolute; background: white; border-radius: 10px; border: 1px black solid"></div>
    <div style="width: 232px; height: 39px; left: 837px; top: 277px; position: absolute; background: white; border-radius: 10px; border: 1px black solid"></div>
    <div style="width: 118px; height: 39px; left: 1131px; top: 222px; position: absolute">
      <div style="width: 118px; height: 39px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 10px; border: 1px white solid"></div>
      <div style="width: 111.44px; height: 27.30px; left: 2.19px; top: 4.88px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Tìm kiếm</div>
    </div>
    <div style="width: 1440px; height: 259.51px; left: 0px; top: 1127px; position: absolute">
      <div style="width: 1440px; height: 259.51px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, black 0%, #522B00 100%)"></div>
      <div style="width: 1440px; height: 259.51px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, black 0%, #522B00 100%)"></div>
      <div style="width: 141px; height: 103.83px; left: 1164px; top: 24px; position: absolute">
        <div style="width: 104px; height: 19px; left: 0px; top: 34px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Hồ sơ của tôi</div>
        <div style="width: 141px; height: 18px; left: 0px; top: 60px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Danh mục của tôi</div>
        <div style="width: 87.05px; height: 18.61px; left: 0px; top: 85.22px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Đăng xuất</div>
        <div style="width: 104px; height: 21px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Tài khoản</div>
      </div>
      <div style="width: 157.90px; height: 105.24px; left: 844px; top: 23.59px; position: absolute">
        <div style="width: 73.89px; height: 16.95px; left: 0px; top: 31.78px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Facebook</div>
        <div style="width: 81.98px; height: 16.95px; left: -0px; top: 60.04px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Instagram</div>
        <div style="width: 54.66px; height: 16.95px; left: -0px; top: 88.29px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Twitter</div>
        <div style="width: 157.90px; height: 19.78px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Mạng xã hội</div>
      </div>
      <div style="width: 193px; height: 168.38px; left: 532px; top: 24px; position: absolute">
        <div style="width: 67.81px; height: 16.95px; left: 0px; top: 31.38px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dự án</div>
        <div style="width: 83px; height: 17px; left: 0px; top: 60px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Các phòng</div>
        <div style="width: 135px; height: 17px; left: 0px; top: 88px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nguồn cảm hứng</div>
        <div style="width: 113px; height: 17px; left: 0px; top: 116px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh nghiệp</div>
        <div style="width: 193px; left: 0px; top: 144.38px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Điều khoản & Chính sách</div>
        <div style="width: 113px; height: 19px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Danh sách</div>
      </div>
      <div style="width: 317px; height: 201.87px; left: 150px; top: 23.59px; position: absolute">
        <div style="width: 157.89px; height: 20.50px; left: 1.18px; top: 181.37px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">www.noithatvugia.com</div>
        <div style="width: 180.89px; height: 23.92px; left: 1.18px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">VU GIA furniture</div>
        <div style="width: 316px; height: 62px; left: 1px; top: 37.41px; position: absolute; color: white; font-size: 16px; font-family: Actor; font-weight: 400; line-height: 24px; word-wrap: break-word">Cửa hàng nội thất ở Việt Nam kể từ năm 2020. Chúng tôi bán hơn 1000 sản phẩm có thương hiệu trên trang web của mình</div>
        <div style="width: 141.29px; height: 22px; left: 0px; top: 112.41px; position: absolute">
          <div style="width: 110.84px; height: 20.79px; left: 30.46px; top: 0.48px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">HaNoi, VietNam</div>
          <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute">
            <img style="width: 17.42px; height: 19.85px; left: 2.29px; top: 0.92px; position: absolute" src="https://via.placeholder.com/17x20" />
          </div>
        </div>
        <div style="width: 135.11px; height: 20.50px; left: 2px; top: 147.13px; position: absolute">
          <div style="width: 106.65px; height: 20.50px; left: 28.46px; top: 0px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">+6289 456 3455</div>
          <div style="width: 20px; height: 20px; left: 0px; top: 0.28px; position: absolute">
            <div style="width: 15.83px; height: 15.83px; left: 2.08px; top: 2.08px; position: absolute; background: #898989"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 1392px; height: 915px; left: 19px; top: 181px; position: absolute; background: white">
      <div style="width: 620px; height: 106px; left: 484px; top: 72px; position: absolute; color: black; font-size: 48px; font-family: Inter; font-weight: 500; word-wrap: break-word">Thông tin kiến trúc sư</div>
      <div style="width: 233px; height: 47px; left: 52px; top: 460px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Đào Minh Đức</div>
      <div style="width: 125px; height: 56.38px; left: 1231px; top: 843px; position: absolute">
        <div style="width: 124.65px; height: 56.38px; left: 0.35px; top: 0px; position: absolute; background: linear-gradient(180deg, #A8653B 0%, #422817 100%); border-radius: 10px; border: 1px white solid"></div>
        <div style="width: 125px; height: 51px; left: 0px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Đặt lịch</div>
      </div>
      <div style="width: 334px; height: 52px; left: 92px; top: 647px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Giới thiệu bản thân</div>
      <div style="width: 334px; height: 52px; left: 92px; top: 539px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Mã nhà thiết kế</div>
      <div style="width: 334px; height: 52px; left: 984px; top: 513px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Kỹ năng</div>
      <div style="width: 334px; height: 52px; left: 634px; top: 199px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; text-decoration: underline; word-wrap: break-word">Các dự án tiêu biểu</div>
      <div style="width: 366px; height: 0px; left: 623px; top: 507px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 2px black solid"></div>
      <img style="width: 273px; height: 176px; left: 396px; top: 271px; position: absolute" src="https://via.placeholder.com/273x176" />
      <img style="width: 285px; height: 176px; left: 716px; top: 271px; position: absolute" src="https://via.placeholder.com/285x176" />
      <img style="width: 292px; height: 177px; left: 1048px; top: 271px; position: absolute" src="https://via.placeholder.com/292x177" />
      <div style="width: 135px; height: 50px; left: 952px; top: 649px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: IBM Plex Sans; font-weight: 700; word-wrap: break-word">Kinh nghiệm</div>
      <div style="width: 237px; height: 20px; left: 757px; top: 584px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Sự Hiểu Biết về Thiết Kế và Màu Sắc</div>
      <div style="width: 264px; height: 20px; left: 757px; top: 613px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Sự Sáng Tạo và Khả Năng Tư Duy Đổi Mới</div>
      <div style="width: 16.16px; height: 11.11px; left: 739.70px; top: 590.86px; position: absolute; background: #2A343D"></div>
      <div style="width: 16.16px; height: 11.11px; left: 1048.86px; top: 593.88px; position: absolute; background: #2A343D"></div>
      <div style="width: 16.16px; height: 11.11px; left: 741px; top: 705px; position: absolute; background: #2A343D"></div>
      <div style="width: 16.16px; height: 11.11px; left: 740px; top: 732.15px; position: absolute; background: #2A343D"></div>
      <div style="width: 16.16px; height: 11.11px; left: 741px; top: 760.15px; position: absolute; background: #2A343D"></div>
      <div style="width: 16.16px; height: 11.11px; left: 741px; top: 791.47px; position: absolute; background: #2A343D"></div>
      <div style="width: 16.16px; height: 11.11px; left: 1048px; top: 621.40px; position: absolute; background: #2A343D"></div>
      <div style="width: 16.16px; height: 11.11px; left: 738.70px; top: 620.15px; position: absolute; background: #2A343D"></div>
      <div style="left: 1070px; top: 587px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Nhiệt tình và luôn Lắng Nghe</div>
      <div style="width: 375px; left: 833px; top: 725px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Chuyên về nội thất Vintage</div>
      <div style="width: 496px; height: 32px; left: 798px; top: 750px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Đã làm việc tại một số công ty lớn như : XHome,VinHouse...</div>
      <div style="width: 500px; left: 786px; top: 785px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Đã tham gia vào nhiều dự án thực tế</div>
      <div style="left: 1070px; top: 614px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Kiến Thức Vững Chắc về Vật Liệu và Thiết Bị</div>
      <img style="width: 259px; height: 255px; left: 57px; top: 192px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/259x255" />
      <div style="width: 472px; left: 81px; top: 696px; position: absolute; color: #33363F; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Việc đi vòng quanh thế giới đã mở rộng tầm nhìn của tôi về nghệ thuật và văn hóa từ mọi nơi trên thế giới. Những trải nghiệm đó đã truyền cảm hứng cho tôi trong việc thiết kế nội thất, từ việc chọn lựa các vật liệu và phong cách thiết kế cho đến cách bố trí không gian. Tôi có thể thấy sự đa dạng và sự độc đáo của các nền văn hóa trên toàn thế giới, và điều đó đã thúc đẩy tôi phát triển những ý tưởng mới và sáng tạo trong các dự án thiết kế của mình.
      <br/>Tôi có thể lấy cảm hứng từ kiến trúc truyền thống của Nhật Bản để tạo ra một không gian nội thất yên bình và tối giản, hoặc từ các màu sắc tươi sáng của các thị trấn ven biển ở Ý để tạo ra một không gian sống sôi động và năng động. Quan trọng nhất là, những trải nghiệm du lịch đã giúp tôi hiểu rõ hơn về sự quan trọng của việc tạo ra một không gian sống phản ánh cá nhân và đáp ứng được nhu cầu và phong cách sống của từng khách hàng."</div>
      <div style="left: 92px; top: 599px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">DEZS7TSE</div>
    </div>
  </div>