<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Goldman&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Glory&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+SemiBold&display=swap" rel="stylesheet" />
    <link href="./css/feedback.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v52_2503">
        <div class="v86_373"></div>
        <div class="v55_2557"></div><span class="v55_2571">Những BST thiết kế nội thất chung cư đến từ các designer và
            kiến trúc sư dày dặn kinh nghiệm khiến bạn muốn thay đổi ngay không gian căn hộ đã quá phổ thông của
            mình.</span>
        <div class="v56_360"></div><span class="v55_2558">PHẢN HỒI CỦA KHÁCH HÀNG
            Chúng tôi tự hào và vui mừng với những phản hồi tích cực và sự hài lòng của khách hàng về chất lượng sản
            phẩm và dịch vụ của Vũ Gia. Ngoài ra, bộ sưu tập hàng trăm công trình đã hoàn thành là minh chứng cho sự
            phát triển và đẳng cấp của công ty thiết kế, thi công nội thất hàng đầu Việt Nam cũng được Vũ Gia giới thiệu
            bên dưới
        </span>
        <div class="v55_2600"></div>
        <div class="v55_2617"></div>
        <div class="v55_2618"></div>
        <div class="v55_2619"></div>
        <div class="v55_2620"></div>
        <div class="v55_2601"></div>
        <div class="v55_2602"></div>
        <div class="v55_2615"></div><span class="v55_2604">Một số sản phẩm đã hoàn thiện</span>
        <div class="v85_913">
            <div class="v85_914">
                <div class="v85_915"><span class="v85_916">Projct</span>
                    <div class="name"></div>
                </div><span class="v85_918">Staff</span>
            </div>
            <div class="v85_919"></div>
        </div>
        <div class="v85_920">
            <div class="v85_921"></div>
            <div class="v85_926"></div>
        </div>
        <div class="v85_927"></div>
        <div class="v85_928"></div><span class="v85_929">Account</span><span class="v85_930">Account</span>
        <div class="v85_931"></div>
        <div class="v85_932"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v85_935"><span class="v85_936">Customer</span></div>
        <div class="v85_937"><span class="v85_938">Customer</span></div>
        <div class="v85_939"><span class="v85_940">Blogs</span></div>
        <div class="v85_941"><span class="v85_942">Blogs</span></div><span class="v85_943">About</span><span
            class="v85_944">About</span>
        <div class="v85_945"><span class="v85_946">Designer</span></div>
        <div class="v85_947"><span class="v85_948">Designer</span></div>
        <div class="v55_2621"></div>
        <div class="v55_2622"></div>
        <div class="v55_2625"></div>
        <div class="v55_2628"></div>
        <div class="v55_2629"></div>
        <div class="v55_2630"></div>
        <div class="v404_960">
            <div class="v404_961"></div>
            <div class="v404_962"></div>
            <div class="v404_963"><span class="v404_964">Facebook</span><span class="v404_965">Instagram</span><span
                    class="v404_966">Twitter</span><span class="v404_967">Stay Connected</span></div>
            <div class="v404_968"><span class="v404_969">Products</span><span class="v404_970">Rooms</span><span
                    class="v404_971">Inspirations</span><span class="v404_972">About Us</span><span
                    class="v404_973">Terms & Policy</span><span class="v404_974">Menu</span></div>
            <div class="v404_975"><span class="v404_976">www.noithatvugia.com</span><span class="v404_977">VU GIA
                    furniture</span><span class="v404_978">Worldwide furniture store since 2020. We sell over 1000+
                    branded products on our website</span>
                <div class="v404_979"><span class="v404_980">HaNoi, VietNam</span>
                    <div class="v404_981">
                        <div class="name"></div>
                    </div>
                </div>
                <div class="v404_985"><span class="v404_986">+6289 456 3455</span>
                    <div class="v404_987">
                        <div class="v404_988"></div>
                    </div>
                </div>
            </div>
            <div class="v404_989"></div>
            <div class="v404_990"></div>
        </div>
    </div>
</body>

</html>