<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Devanagari&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Calistoga&amp;display=swap" rel="stylesheet">
    <link href="../css/profile.css" rel="stylesheet">
    <title>Document</title></head>
    <body><div class="v602_1055">
        <div class="v602_1056"></div>
        <div class="v602_1057"></div>
        <div class="v602_1058"></div>
        <div class="v602_1059"></div>
        <div class="v602_1060"></div>
        <span class="v602_1061">Dao Minh Duc</span>
        <span class="v602_1062">@daodcupheco</span>
        <span class="v602_1063">Full name:</span>
        <span class="v602_1064">Email</span>
        <span class="v602_1065">Phone number</span>
        <span class="v602_1066">Address</span>
        <span class="v602_1067">Dob</span><div class="v602_1068"></div>
        <div class="v602_1069"></div><div class="v602_1070"></div>
        <div class="v602_1071"></div><div class="v602_1072"></div>
        <span class="v602_1073">Dao Minh Duc</span><span class="v602_1074">daominhduc@gmail.com</span>
        <span class="v602_1075">0123456789</span><span class="v602_1076">Ha Noi, Vietnames</span>
        <span class="v602_1077">30-02-2001</span><div class="v602_1078"></div>
        <div class="v602_1079"></div>
        <div class="v602_1080"></div>
        <div class="v602_1081"></div>
        <div class="v602_1082"></div>
        <div class="v602_1083"></div>
        <div class="v602_1084"></div><div class="v602_1085"></div>
        <div class="v602_1086"></div><div class="v602_1087"></div>
        <div class="v602_1088"></div><div class="v602_1089"></div>
        <div class="v602_1090"></div><div class="v602_1091"></div>
        <div class="v602_1092"></div><div class="v602_1093"></div><div class="v602_1094"></div>
        <div class="v602_1095"></div><span class="v602_1096">User profile</span><span class="v602_1097">Cancle</span>
    <span class="v602_1098">Submit</span></div>
</body></html>