<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+SemiBold&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v1066_532">
        <div class="v1066_533"></div>
        <div class="v1066_534">
            <div class="name"></div><span class="v1066_536">Nội thất nhà phố</span>
        </div>
        <div class="v1066_537">
            <div class="v1066_538"></div><span class="v1066_539">Mr Dam - Vĩnh Hưng</span>
        </div>
        <div class="v1066_540">
            <div class="v1066_541"></div><span class="v1066_542">Mr Khai - Quang Ninh</span>
        </div>
        <div class="v1066_543">
            <div class="v1066_544"></div><span class="v1066_545">Mr Duc - Thach That</span>
        </div>
        <div class="v1066_546">
            <div class="v1066_547"></div><span class="v1066_548">Mr Vinh - Thai Binh</span>
        </div>
        <div class="v1066_549">
            <div class="v1066_550"></div>
            <div class="v1066_551"></div>
            <div class="v1066_552"></div>
            <div class="v1066_553"></div>
            <div class="v1066_554"></div>
            <div class="v1066_555"></div>
        </div>
        <div class="v1066_556">
            <div class="v1066_557">
                <div class="v1066_558"></div>
                <div class="v1066_559"><span class="v1066_560">My Profile</span><span class="v1066_561">My
                        catalog</span><span class="v1066_562">Log out</span><span class="v1066_563">Account</span></div>
                <div class="v1066_564"><span class="v1066_565">Facebook</span><span
                        class="v1066_566">Instagram</span><span class="v1066_567">Twitter</span><span
                        class="v1066_568">Stay Connected</span></div>
                <div class="v1066_569"><span class="v1066_570">Projects</span><span class="v1066_571">Rooms</span><span
                        class="v1066_572">Inspirations</span><span class="v1066_573">About Us</span><span
                        class="v1066_574">Terms & Policy</span><span class="v1066_575">Menu</span></div>
                <div class="v1066_576"><span class="v1066_577">www.noithatvugia.com</span><span class="v1066_578">VU GIA
                        furniture</span><span class="v1066_579">Worldwide furniture store since 2020. We sell over 1000+
                        branded products on our website</span>
                    <div class="v1066_580"><span class="v1066_581">HaNoi, VietNam</span>
                        <div class="v1066_582">
                            <div class="name"></div>
                        </div>
                    </div>
                    <div class="v1066_586"><span class="v1066_587">+6289 456 3455</span>
                        <div class="v1066_588">
                            <div class="v1066_589"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="v1066_590">
            <div class="v1066_591"></div><span class="v1066_592">Mrs Ha - Bắc Ninh</span>
        </div>
        <div class="v1066_593">
            <div class="v1066_594"></div><span class="v1066_595">Mr Tung - TP Viet Tri</span>
        </div>
        <div class="v1066_596">
            <div class="v1066_597"></div><span class="v1066_598">Mrs Ngoc - Hai Phong</span>
        </div>
        <div class="v1066_599">
            <div class="v1066_600"></div><span class="v1066_601">Mr Thanh - Ha Noi</span>
        </div>
        <div class="v1066_602">
            <div class="v1066_603">
                <div class="v1066_604"></div><span class="v1066_605">VUGIA có thể giúp gì cho bạn ?</span>
            </div>
            <div class="v1066_606"></div>
        </div>
        <div class="v1066_607">
            <div class="v1066_608"></div>
            <div class="v1066_609">
                <div class="v1066_610"></div><span class="v1066_611">Về chúng tôi</span><span class="v1066_612">Đăng
                    suất</span>
                <div class="name"></div><span class="v1066_615">Khách hàng</span><span class="v1066_616">Nhà thiết
                    kế</span><span class="v1066_617">Nhân viên</span><span class="v1066_618">Dịch vụ</span>
                <div class="v1066_619"></div><span class="v1066_620">Tài khoản</span><span class="v1066_621">Lịch
                    hẹn</span>
                <div class="v1066_622"><span class="v1066_623">Dự án</span>
                    <div class="name"></div>
                </div>
            </div>
        </div>
        <div class="v1066_639"></div>
        <div class="v1066_640"></div>
        <div class="v1066_642"></div>
        <div class="v1066_643"></div>
        <div class="v1033_458"><span class="v1033_461">Thông tin nhà thiết kế</span><span class="v1033_466">Đào Minh
                Đức</span>
            <div class="v1033_477"></div>
            <div class="v1066_650"></div>
            <div class="v1033_502">
                <div class="v1033_503"></div><span class="v1033_504">Book</span>
            </div><span class="v1066_647">Giới thiệu bản thân</span><span class="v1066_652">Mã nhà thiết kế</span><span
                class="v1067_558">Kỹ năng</span><span class="v1066_654">Các dự án tiêu biểu</span>
            <div class="v1066_649"></div>
            <div class="v1067_530"></div>
            <div class="v1067_532"></div>
            <div class="v1067_542"></div><span class="v1067_561">Học vấn</span><span class="v1067_562">Kinh
                nghiệm</span><span class="v1068_569">Sự Hiểu Biết về Thiết Kế và Màu Sắc</span><span
                class="v1068_580">Tốt nghiệp bằng suất sắc trường Harvert về thiết kế</span><span class="v1068_572">Sự
                Sáng Tạo và Khả Năng Tư Duy Đổi Mới</span>
            <div class="v1068_571"></div>
            <div class="v1068_578"></div>
            <div class="v1068_581"></div>
            <div class="v1068_584"></div>
            <div class="v1068_587"></div>
            <div class="v1068_574"></div>
            <div class="v1068_621"></div>
            <div class="v1068_622"></div>
            <div class="v1068_623"></div>
            <div class="v1068_624"></div>
            <div class="v1068_576"></div>
            <div class="v1068_573"></div><span class="v1068_575">Nhiệt tình và luôn Lắng Nghe</span><span
                class="v1068_618">Chuyên về nội thất Vintage</span><span class="v1068_619">Đã làm việc tại một số công
                ty lớn như : XHome,VinHouse...</span><span class="v1068_620">Đã tham gia vào nhiều dự án thực
                tế</span><span class="v1068_577">Kiến Thức Vững Chắc về Vật Liệu và Thiết Bị</span>
            <div class="v1068_628"></div><span class="v1068_671">Việc đi vòng quanh thế giới đã mở rộng tầm nhìn của tôi
                về nghệ thuật và văn hóa từ mọi nơi trên thế giới. Những trải nghiệm đó đã truyền cảm hứng cho tôi trong
                việc thiết kế nội thất, từ việc chọn lựa các vật liệu và phong cách thiết kế cho đến cách bố trí không
                gian. Tôi có thể thấy sự đa dạng và sự độc đáo của các nền văn hóa trên toàn thế giới, và điều đó đã
                thúc đẩy tôi phát triển những ý tưởng mới và sáng tạo trong các dự án thiết kế của mình.
                Tôi có thể lấy cảm hứng từ kiến trúc truyền thống của Nhật Bản để tạo ra một không gian nội thất yên
                bình và tối giản, hoặc từ các màu sắc tươi sáng của các thị trấn ven biển ở Ý để tạo ra một không gian
                sống sôi động và năng động. Quan trọng nhất là, những trải nghiệm du lịch đã giúp tôi hiểu rõ hơn về sự
                quan trọng của việc tạo ra một không gian sống phản ánh cá nhân và đáp ứng được nhu cầu và phong cách
                sống của từng khách hàng."</span>
        </div><span class="v1068_564">Thông tin cá nhân</span><span class="v1068_565">Hợp đồng</span><span
            class="v1068_567">Đổi mật khẩu</span><span class="v1068_566">Điều khoản và dịch vụ</span>
    </div>
</body>

</html>