<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Philosopher&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+SemiBold&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v714_901">
        <div class="v714_1037"></div>
        <div class="v714_1062">
            <div class="v714_921"></div>
            <div class="v714_926"></div><span class="v714_929">NỘI THẤT HOME STAY</span>
        </div>
        <div class="v714_1061">
            <div class="v714_922"></div>
            <div class="v714_1060">
                <div class="v714_925"></div><span class="v714_930">NỘI THẤT SPA, SHOP, VĂN PHÒNG</span>
            </div>
        </div>
        <div class="v714_1059">
            <div class="v714_923"></div>
            <div class="v714_1058">
                <div class="v714_928"></div><span class="v714_931">NỘI THẤT COFFEE,MOVIE BOX</span>
            </div>
        </div><span class="v714_948">GÓI DỊCH VỤ</span><span class="v714_950">Từ những thiết kế nổi bật, thi công chính
            xác, chất liệu tốt nhất, ... VU GIA hứa hẹn mang đến những trải nghiệm đáng có cho khách hàng.
            Đến và cảm nhận sự đẳng cấp và tận hưởng dịch vụ chăm sóc khách hàng tốt nhất ở VU GIA.</span>
        <div class="v714_951"></div>
        <div class="v717_1080"><span class="v714_952">Thiết kế và thi công trọn gói căn hộ ...</span>
            <div class="name"></div>
        </div>
        <div class="v717_1079"><span class="v714_954">Dịch vụ đăng kí báo giá xây dựng dựa trên các thiết kế tiêu chuẩn
                ...</span>
            <div class="name"></div>
        </div>
        <div class="v717_1075"><span class="v714_953">Tư vấn thiết kế sang trọng, đẹp mắtvà nhanh chóng ...</span>
            <div class="name"></div>
        </div>
        <div class="v714_958"></div>
        <div class="v714_959"></div>
        <div class="name"></div>
        <div class="v714_1063">
            <div class="v714_924"></div>
            <div class="v714_927"></div><span class="v714_965">NỘI THÂT BIỆT THỰ</span>
        </div>
        <div class="v1016_406">
            <div class="v1016_407"></div>
            <div class="v1016_408"></div><span class="v1016_409">NỘI THÂT BIỆT THỰ</span>
        </div>
        <div class="v714_1064">
            <div class="v714_1065"></div>
            <div class="v714_1066"></div>
            <div class="v714_1067"></div>
        </div>
        <div class="v714_1068">
            <div class="v714_1069"></div>
            <div class="v714_1070"></div>
            <div class="v714_1071"></div>
        </div>
        <div class="v717_1081">
            <div class="v717_1082">
                <div class="v717_1083"></div>
                <div class="v717_1084"><span class="v717_1085">My Profile</span><span class="v717_1086">My
                        catalog</span><span class="v717_1087">Log out</span><span class="v717_1088">Account</span></div>
                <div class="v717_1089"><span class="v717_1090">Facebook</span><span
                        class="v717_1091">Instagram</span><span class="v717_1092">Twitter</span><span
                        class="v717_1093">Stay Connected</span></div>
                <div class="v717_1094"><span class="v717_1095">Projects</span><span class="v717_1096">Rooms</span><span
                        class="v717_1097">Inspirations</span><span class="v717_1098">About Us</span><span
                        class="v717_1099">Terms & Policy</span><span class="v717_1100">Menu</span></div>
                <div class="v717_1101"><span class="v717_1102">www.noithatvugia.com</span><span class="v717_1103">VU GIA
                        furniture</span><span class="v717_1104">Worldwide furniture store since 2020. We sell over 1000+
                        branded products on our website</span>
                    <div class="v717_1105"><span class="v717_1106">HaNoi, VietNam</span>
                        <div class="v717_1107">
                            <div class="name"></div>
                        </div>
                    </div>
                    <div class="v717_1111"><span class="v717_1112">+6289 456 3455</span>
                        <div class="v717_1113">
                            <div class="v717_1114"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="v717_1115">
            <div class="v717_1116">
                <div class="v717_1117"></div><span class="v717_1118">VUGIA có thể giúp gì cho bạn ?</span>
            </div>
        </div>
        <div class="v717_1119"></div>
        <div class="v952_768">
            <div class="v952_769"></div>
            <div class="v952_789"></div>
            <div class="v952_770">
                <div class="v952_771"></div><span class="v952_772">About us</span><span class="v952_773">Log out</span>
                <div class="name"></div><span class="v952_775">Blogs</span><span class="v952_776">Khách hàng</span><span
                    class="v952_777">Nhà thiết kế</span><span class="v952_778">Nhân viên</span><span
                    class="v952_779">Dịch vụ</span>
                <div class="v952_780"></div><span class="v952_781">Các Tài khoản</span><span class="v952_782">Lịch
                    hẹn</span>
                <div class="v952_783"><span class="v952_784">Các dòng Sản phẩm</span>
                    <div class="name"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>