<div style="width: 1440px; height: 4053px; position: relative; background: white">
    <div style="width: 1025px; height: 65px; left: 231px; top: 358px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Đăng ký báo giá xây dựng dựa trên các thiết kế tiêu chuẩn </div>
    <div style="width: 1303px; height: 0px; left: 63px; top: 424px; position: absolute; border: 2px #B91616 solid"></div>
    <div style="width: 1303px; height: 0px; left: 63px; top: 425px; position: absolute; border: 2px black solid"></div>
    <div style="width: 1372px; height: 274px; left: 39px; top: 2537px; position: absolute">
      <div style="width: 625px; height: 179px; left: 747px; top: 95px; position: absolute">
        <div style="width: 397px; left: 228px; top: 26px; position: absolute; color: black; font-size: 30px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Tư vấn thiết kế sang trọng, đẹp mắt và nhanh chóng ...</div>
        <div style="width: 126.39px; height: 45px; left: 228px; top: 119px; position: absolute; background: #B91616; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="padding-left: 22px; padding-right: 22px; padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
            <div style="color: white; font-size: 20px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 26px; letter-spacing: 0.46px; word-wrap: break-word">đọc thêm</div>
          </div>
        </div>
        <img style="width: 188px; height: 179px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/188x179" />
      </div>
      <div style="width: 467px; height: 53px; left: 0px; top: 0px; position: absolute">
        <div style="width: 467px; height: 53px; left: 0px; top: 0px; position: absolute; text-align: center; color: #DB1A1A; font-size: 30px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">CÁC GÓI DỊCH VỤ KHÁC</div>
        <div style="width: 112px; height: 0px; left: 70px; top: 53px; position: absolute; border: 3px #DB1A1A solid"></div>
      </div>
      <div style="width: 594px; height: 179px; left: 71px; top: 95px; position: absolute">
        <div style="width: 367px; left: 227px; top: 33px; position: absolute; color: black; font-size: 30px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Thiết kế và thi công trọn gói căn hộ</div>
        <div style="width: 130px; height: 45px; left: 227px; top: 120px; position: absolute; background: #B91616; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="padding-left: 22px; padding-right: 22px; padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
            <div style="color: white; font-size: 20px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 26px; letter-spacing: 0.46px; word-wrap: break-word">đọc thêm</div>
          </div>
        </div>
        <img style="width: 191px; height: 179px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/191x179" />
      </div>
    </div>
    <div style="width: 470px; left: 480px; top: 487px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Roboto; font-weight: 700; text-transform: uppercase; word-wrap: break-word">Giới thiệu dịch vụ:</div>
    <div style="width: 451px; height: 62px; left: 489px; top: 1546px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 26px; letter-spacing: 0.46px; word-wrap: break-word">Lợi ích</div>
    <div style="width: 270px; height: 57px; left: 585px; top: 2388px; position: absolute; background: #B91616; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="padding-left: 22px; padding-right: 22px; padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: white; font-size: 20px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 26px; letter-spacing: 0.46px; word-wrap: break-word">Nhận Báo giá ngay</div>
      </div>
    </div>
    <div style="width: 556px; height: 38px; left: 437px; top: 753px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Quá trình sản xuất trực tiếp tại xưởng</div>
    <img style="width: 519px; height: 287px; left: 177px; top: 1968px; position: absolute" src="https://via.placeholder.com/519x287" />
    <div style="width: 1440px; height: 259.51px; left: 0px; top: 3095px; position: absolute">
      <div style="width: 1440px; height: 259.51px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, black 0%, #522B00 100%)"></div>
      <div style="width: 1440px; height: 259.51px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, black 0%, #522B00 100%)"></div>
      <div style="width: 141px; height: 103.83px; left: 1164px; top: 24px; position: absolute">
        <div style="width: 104px; height: 19px; left: 0px; top: 34px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Hồ sơ của tôi</div>
        <div style="width: 141px; height: 18px; left: 0px; top: 60px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Danh mục của tôi</div>
        <div style="width: 87.05px; height: 18.61px; left: 0px; top: 85.22px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Đăng xuất</div>
        <div style="width: 104px; height: 21px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Tài khoản</div>
      </div>
      <div style="width: 157.90px; height: 105.24px; left: 844px; top: 23.59px; position: absolute">
        <div style="width: 73.89px; height: 16.95px; left: 0px; top: 31.78px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Facebook</div>
        <div style="width: 81.98px; height: 16.95px; left: -0px; top: 60.04px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Instagram</div>
        <div style="width: 54.66px; height: 16.95px; left: -0px; top: 88.29px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Twitter</div>
        <div style="width: 157.90px; height: 19.78px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Mạng xã hội</div>
      </div>
      <div style="width: 193px; height: 168.38px; left: 532px; top: 24px; position: absolute">
        <div style="width: 67.81px; height: 16.95px; left: 0px; top: 31.38px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dự án</div>
        <div style="width: 83px; height: 17px; left: 0px; top: 60px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Các phòng</div>
        <div style="width: 135px; height: 17px; left: 0px; top: 88px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nguồn cảm hứng</div>
        <div style="width: 113px; height: 17px; left: 0px; top: 116px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh nghiệp</div>
        <div style="width: 193px; left: 0px; top: 144.38px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Điều khoản & Chính sách</div>
        <div style="width: 113px; height: 19px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Danh sách</div>
      </div>
      <div style="width: 317px; height: 201.87px; left: 150px; top: 23.59px; position: absolute">
        <div style="width: 157.89px; height: 20.50px; left: 1.18px; top: 181.37px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">www.noithatvugia.com</div>
        <div style="width: 180.89px; height: 23.92px; left: 1.18px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">VU GIA furniture</div>
        <div style="width: 316px; height: 62px; left: 1px; top: 37.41px; position: absolute; color: white; font-size: 16px; font-family: Actor; font-weight: 400; line-height: 24px; word-wrap: break-word">Cửa hàng nội thất ở Việt Nam kể từ năm 2020. Chúng tôi bán hơn 1000 sản phẩm có thương hiệu trên trang web của mình</div>
        <div style="width: 141.29px; height: 22px; left: 0px; top: 112.41px; position: absolute">
          <div style="width: 110.84px; height: 20.79px; left: 30.46px; top: 0.48px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">HaNoi, VietNam</div>
          <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute">
            <img style="width: 17.42px; height: 19.85px; left: 2.29px; top: 0.92px; position: absolute" src="https://via.placeholder.com/17x20" />
          </div>
        </div>
        <div style="width: 135.11px; height: 20.50px; left: 2px; top: 147.13px; position: absolute">
          <div style="width: 106.65px; height: 20.50px; left: 28.46px; top: 0px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">+6289 456 3455</div>
          <div style="width: 20px; height: 20px; left: 0px; top: 0.28px; position: absolute">
            <div style="width: 15.83px; height: 15.83px; left: 2.08px; top: 2.08px; position: absolute; background: #898989"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 1440px; height: 98px; left: 0px; top: 259px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Gabriela; font-weight: 400; word-wrap: break-word">GÓI DỊCH VỤ</div>
    <div style="width: 1136px; height: 385px; left: 152px; top: 1569px; position: absolute; color: black; font-size: 24px; font-family: Gabriela; font-weight: 400; line-height: 36px; word-wrap: break-word">Tiết kiệm thời gian: So với việc liên hệ trực tiếp với các nhà thầu để lấy báo giá, dịch vụ này giúp bạn tiết kiệm được rất nhiều thời gian.<br/>So sánh giá cả dễ dàng: Hệ thống sẽ cung cấp báo giá từ nhà thầu Vu Gia, giúp bạn dễ dàng so sánh và lựa chọn nhà thầu phù hợp.<br/>Dự trù chi phí chính xác: Báo giá được cung cấp dựa trên các thiết kế tiêu chuẩn, giúp bạn dự trù chi phí cho công trình một cách chính xác hơn.<br/>Minh bạch và rõ ràng: Hệ thống cung cấp báo giá chi tiết từng hạng mục thi công, giúp bạn nắm rõ chi phí cho công trình của mình.</div>
    <div style="width: 1075px; height: 637px; left: 177px; top: 825px; position: absolute">
      <img style="width: 1075px; height: 637px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1075x637" />
      <div style="width: 119.44px; height: 113.54px; left: 477.78px; top: 261.73px; position: absolute"></div>
    </div>
    <img style="width: 519px; height: 287px; left: 733px; top: 1968px; position: absolute" src="https://via.placeholder.com/519x287" />
    <div style="width: 456px; height: 167px; left: 923px; top: 2888px; position: absolute">
      <div style="width: 342px; height: 107px; left: 0px; top: 0px; position: absolute">
        <div style="width: 342px; height: 107px; left: 0px; top: 0px; position: absolute; background: white; border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border: 1px black solid"></div>
        <div style="width: 293px; height: 34px; left: 49px; top: 20px; position: absolute; color: black; font-size: 26px; font-family: Gabriela; font-weight: 400; word-wrap: break-word">VUGIA có thể giúp gì cho bạn ?</div>
      </div>
      <div style="width: 129px; height: 113px; left: 327px; top: 54px; position: absolute; background: #547AD0; border: 2px black solid"></div>
    </div>
    <div style="width: 1440px; height: 141.33px; left: -5px; top: 0px; position: absolute">
      <div style="width: 1440px; height: 141.33px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, black 0%, #A8653B 100%)"></div>
      <div style="width: 1334.57px; height: 57.20px; left: 53px; top: 41.73px; position: absolute">
        <img style="width: 37.86px; height: 56.53px; left: 1296.71px; top: 0.67px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/38x57" />
        <div style="width: 112px; height: 48.05px; left: 1010px; top: 9.15px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh Nghiệp</div>
        <div style="width: 24px; height: 32.31px; left: 1148px; top: 10.77px; position: absolute">
          <div style="width: 18px; height: 26.92px; left: 3px; top: 2.69px; position: absolute; background: white; border: 1px black solid"></div>
        </div>
        <div style="width: 42px; height: 33.92px; left: 924px; top: 9.15px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Blogs</div>
        <div style="width: 96px; height: 33.92px; left: 790px; top: 9.15px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Khách Hàng</div>
        <div style="width: 97px; height: 33.92px; left: 660px; top: 9.15px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Kiến Trúc Sư</div>
        <div style="width: 82px; height: 33.92px; left: 545px; top: 9.15px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nhân Viên</div>
        <div style="width: 60px; height: 33.92px; left: 452px; top: 9.15px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dịch Vụ</div>
        <div style="width: 35px; height: 45.77px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 77px; height: 33.92px; left: 91px; top: 9.15px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Tài Khoản</div>
        <div style="width: 68px; height: 33.92px; left: 206px; top: 9.15px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Lịch Hẹn</div>
        <div style="width: 113px; height: 24px; left: 309px; top: 9.15px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word"> Các Dự Án</div>
          <div style="width: 20px; height: 20px; position: relative; transform: rotate(90deg); transform-origin: 0 0">
            <div style="width: 5.83px; height: 11.67px; left: 7.50px; top: 4.17px; position: absolute; border: 1.80px white solid"></div>
          </div>
        </div>
      </div>
    </div>
  </div>