<div style="width: 1440px; height: 4475px; position: relative; background: white">
    <div style="width: 1440px; height: 4340.50px; left: -0px; top: 134px; position: absolute">
      <div style="width: 445.18px; height: 167px; left: 938.20px; top: 3850px; position: absolute">
        <div style="width: 333.88px; height: 107px; left: 0px; top: 0px; position: absolute">
          <div style="width: 333.88px; height: 107px; left: 0px; top: 0px; position: absolute; background: white; border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border: 1px black solid"></div>
          <div style="width: 286.05px; height: 34px; left: 47.84px; top: 20px; position: absolute; color: black; font-size: 26px; font-family: Gabriela; font-weight: 400; word-wrap: break-word">VUGIA có thể giúp gì cho bạn ?</div>
        </div>
        <div style="width: 125.94px; height: 113px; left: 319.24px; top: 54px; position: absolute; background: #547AD0; border: 2px black solid"></div>
      </div>
      <div style="width: 1440px; height: 259.51px; left: 0px; top: 4081px; position: absolute">
        <div style="width: 1440px; height: 259.51px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, black 0%, #522B00 100%)"></div>
        <div style="width: 1440px; height: 259.51px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, black 0%, #522B00 100%)"></div>
        <div style="width: 141px; height: 103.83px; left: 1164px; top: 24px; position: absolute">
          <div style="width: 104px; height: 19px; left: 0px; top: 34px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Hồ sơ của tôi</div>
          <div style="width: 141px; height: 18px; left: 0px; top: 60px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Danh mục của tôi</div>
          <div style="width: 87.05px; height: 18.61px; left: 0px; top: 85.22px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Đăng xuất</div>
          <div style="width: 104px; height: 21px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Tài khoản</div>
        </div>
        <div style="width: 157.90px; height: 105.24px; left: 844px; top: 23.59px; position: absolute">
          <div style="width: 73.89px; height: 16.95px; left: 0px; top: 31.78px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Facebook</div>
          <div style="width: 81.98px; height: 16.95px; left: 0px; top: 60.04px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Instagram</div>
          <div style="width: 54.66px; height: 16.95px; left: 0px; top: 88.29px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Twitter</div>
          <div style="width: 157.90px; height: 19.78px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Mạng xã hội</div>
        </div>
        <div style="width: 193px; height: 168.38px; left: 532px; top: 24px; position: absolute">
          <div style="width: 67.81px; height: 16.95px; left: 0px; top: 31.38px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Dự án</div>
          <div style="width: 83px; height: 17px; left: 0px; top: 60px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Các phòng</div>
          <div style="width: 135px; height: 17px; left: 0px; top: 88px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Nguồn cảm hứng</div>
          <div style="width: 113px; height: 17px; left: 0px; top: 116px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Doanh nghiệp</div>
          <div style="width: 193px; left: 0px; top: 144.38px; position: absolute; color: white; font-size: 16px; font-family: Gabriela; font-weight: 400; line-height: 24px; word-wrap: break-word">Điều khoản & Chính sách</div>
          <div style="width: 113px; height: 19px; left: 0px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">Danh sách</div>
        </div>
        <div style="width: 317px; height: 201.87px; left: 150px; top: 23.59px; position: absolute">
          <div style="width: 157.89px; height: 20.50px; left: 1.18px; top: 181.37px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">www.noithatvugia.com</div>
          <div style="width: 180.89px; height: 23.92px; left: 1.18px; top: 0px; position: absolute; color: white; font-size: 24px; font-family: Gentium Book Basic; font-weight: 400; word-wrap: break-word">VU GIA furniture</div>
          <div style="width: 316px; height: 62px; left: 1px; top: 37.41px; position: absolute; color: white; font-size: 16px; font-family: Actor; font-weight: 400; line-height: 24px; word-wrap: break-word">Cửa hàng nội thất ở Việt Nam kể từ năm 2020. Chúng tôi bán hơn 1000 sản phẩm có thương hiệu trên trang web của mình</div>
          <div style="width: 141.29px; height: 22px; left: 0px; top: 112.41px; position: absolute">
            <div style="width: 110.84px; height: 20.79px; left: 30.46px; top: 0.48px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">HaNoi, VietNam</div>
            <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute">
              <img style="width: 17.42px; height: 19.85px; left: 2.29px; top: 0.92px; position: absolute" src="https://via.placeholder.com/17x20" />
            </div>
          </div>
          <div style="width: 135.11px; height: 20.50px; left: 2px; top: 147.13px; position: absolute">
            <div style="width: 106.65px; height: 20.50px; left: 28.46px; top: 0px; position: absolute; color: white; font-size: 16px; font-family: Abhaya Libre SemiBold; font-weight: 600; line-height: 24px; word-wrap: break-word">+6289 456 3455</div>
            <div style="width: 20px; height: 20px; left: 0px; top: 0.28px; position: absolute">
              <div style="width: 15.83px; height: 15.83px; left: 2.08px; top: 2.08px; position: absolute; background: #898989"></div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 1337.49px; height: 275px; left: 79.08px; top: 3511px; position: absolute">
        <div style="width: 610.17px; height: 179px; left: 727.32px; top: 96px; position: absolute">
          <div style="width: 387.58px; left: 222.59px; top: 26px; position: absolute; color: black; font-size: 30px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Tư vấn thi công nhanh chóng (không cần thiết kế)</div>
          <div style="width: 123.39px; height: 45px; left: 222.59px; top: 119px; position: absolute; background: #B91616; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="padding-left: 22px; padding-right: 22px; padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
              <div style="color: white; font-size: 20px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 26px; letter-spacing: 0.46px; word-wrap: break-word">đọc thêm</div>
            </div>
          </div>
          <img style="width: 183.54px; height: 179px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/184x179" />
        </div>
        <div style="width: 455.92px; height: 53px; left: 0px; top: 0px; position: absolute">
          <div style="width: 455.92px; height: 53px; left: 0px; top: 0px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">CÁC GÓI DỊCH VỤ KHÁC</div>
          <div style="width: 327.05px; height: 0px; left: 68.34px; top: 53px; position: absolute; border: 3px black solid"></div>
        </div>
        <div style="width: 579.90px; height: 179px; left: 67.36px; top: 96px; position: absolute">
          <div style="width: 358.29px; left: 221.61px; top: 33px; position: absolute; color: black; font-size: 30px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Thiết kế và thi công trọn gói căn hộ</div>
          <div style="width: 126.92px; height: 45px; left: 221.61px; top: 120px; position: absolute; background: #B91616; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="padding-left: 22px; padding-right: 22px; padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
              <div style="color: white; font-size: 20px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 26px; letter-spacing: 0.46px; word-wrap: break-word">đọc thêm</div>
            </div>
          </div>
          <img style="width: 186.47px; height: 179px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/186x179" />
        </div>
      </div>
      <div style="width: 1000.68px; height: 65px; left: 259.69px; top: 99px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Tư vấn thiết kế sang trọng, đẹp mắt và nhanh chóng ...</div>
      <div style="width: 1272.08px; height: 0px; left: 95.67px; top: 166px; position: absolute; border: 2px #B91616 solid"></div>
      <div style="width: 1272.08px; height: 0px; left: 95.67px; top: 165px; position: absolute; border: 2px black solid"></div>
      <div style="width: 1405.83px; height: 98px; left: 34.17px; top: 0px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Gabriela; font-weight: 400; word-wrap: break-word">GÓI DỊCH VỤ</div>
      <div style="width: 1082.68px; height: 35px; left: 195.25px; top: 215px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Roboto; font-weight: 700; text-transform: uppercase; word-wrap: break-word">🌟 Khám Phá Sự Đẳng Cấp với Dịch Vụ Tư Vấn Thiết Kế Của Chúng Tôi! 🌟</div>
      <div style="width: 263.59px; height: 57px; left: 605.29px; top: 3365px; position: absolute; background: #B91616; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="padding-left: 22px; padding-right: 22px; padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: white; font-size: 20px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 26px; letter-spacing: 0.46px; word-wrap: break-word">Đặt lịch tư vấn</div>
        </div>
      </div>
      <div style="width: 742.94px; height: 174px; left: 153.27px; top: 294px; position: absolute; color: black; font-size: 24px; font-family: Gabriela; font-weight: 400; line-height: 36px; word-wrap: break-word">Chúng tôi tự hào giới thiệu đến bạn gói dịch vụ tư vấn thiết kế, nơi mọi ý tưởng độc đáo của bạn trở thành hiện thực sống động. Với đội ngũ chuyên gia giàu kinh nghiệm và sáng tạo, chúng tôi cam kết mang đến cho bạn những lợi ích không thể bỏ qua:</div>
      <div style="width: 636.53px; height: 54px; left: 161.08px; top: 525px; position: absolute">
        <div style="width: 429.56px; height: 38px; left: 8.79px; top: 0px; position: absolute; color: black; font-size: 40px; font-family: Philosopher; font-weight: 700; word-wrap: break-word">Sự sáng tạo phi giới hạn</div>
        <div style="width: 636.53px; height: 0px; left: 0px; top: 54px; position: absolute; border: 3px black solid"></div>
      </div>
      <div style="width: 625.79px; height: 55.60px; left: 169.87px; top: 1363px; position: absolute">
        <div style="width: 571.12px; height: 38px; left: 0px; top: 0px; position: absolute; color: black; font-size: 40px; font-family: Philosopher; font-weight: 700; word-wrap: break-word">Thiết kế độc quyền và phù hợp</div>
        <div style="width: 615.05px; height: 0px; left: 10.74px; top: 55.60px; position: absolute; border: 3px black solid"></div>
      </div>
      <div style="width: 625.79px; height: 55.60px; left: 169.87px; top: 2304px; position: absolute">
        <div style="width: 571.12px; height: 38px; left: 0px; top: 0px; position: absolute; color: black; font-size: 40px; font-family: Philosopher; font-weight: 700; word-wrap: break-word">Hỗ trợ tận tâm và toàn diện</div>
        <div style="width: 615.05px; height: 0px; left: 10.74px; top: 55.60px; position: absolute; border: 3px black solid"></div>
      </div>
      <img style="width: 644.34px; height: 605px; left: 153.27px; top: 619px; position: absolute" src="https://via.placeholder.com/644x605" />
      <img style="width: 644.34px; height: 701px; left: 153.27px; top: 1464px; position: absolute" src="https://via.placeholder.com/644x701" />
      <div style="width: 559.40px; height: 494px; left: 797.61px; top: 649px; position: absolute">
        <div style="width: 559.40px; height: 494px; left: 0px; top: 0px; position: absolute">
          <div style="width: 461.21px; height: 405.10px; left: 0px; top: 0px; position: absolute; background: white; border-top-left-radius: 20px"></div>
          <div style="width: 559.40px; height: 335.11px; left: 0px; top: 69.71px; position: absolute; background: #A8653B; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
          <div style="width: 515.02px; height: 475.64px; left: 0px; top: 18.36px; position: absolute; background: #522B00; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
        </div>
        <div style="width: 431.45px; height: 338px; left: 29.76px; top: 85.55px; position: absolute; text-align: justify; color: white; font-size: 40px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Mỗi dự án được tạo ra từ tư duy sáng tạo và lòng đam mê của chúng tôi. Chúng tôi không ngừng tìm kiếm và thực hiện những ý tưởng mới để tạo ra không gian sống độc đáo và đáng nhớ cho bạn.</div>
      </div>
      <div style="width: 559.40px; height: 582px; left: 797.61px; top: 1502px; position: absolute">
        <div style="width: 559.40px; height: 582px; left: 0px; top: 0px; position: absolute">
          <div style="width: 461.21px; height: 477.26px; left: 0px; top: 0px; position: absolute; background: white; border-top-left-radius: 20px"></div>
          <div style="width: 559.40px; height: 394.81px; left: 0px; top: 82.12px; position: absolute; background: #A8653B; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
          <div style="width: 515.02px; height: 560.37px; left: 0px; top: 21.63px; position: absolute; background: #522B00; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
        </div>
        <div style="width: 453.97px; height: 497.78px; left: 24.41px; top: 52.91px; position: absolute; text-align: justify; color: white; font-size: 40px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Chúng tôi không chỉ tạo ra các thiết kế độc đáo, mà còn đảm bảo rằng chúng phản ánh chính xác phong cách và nhu cầu của bạn. Với sự kết hợp tinh tế giữa thẩm mỹ và sự tiện ích, mỗi không gian sẽ trở thành nơi bạn muốn trở về sau mỗi ngày làm việc.</div>
      </div>
      <div style="width: 559.40px; height: 582px; left: 797.61px; top: 2443px; position: absolute">
        <div style="width: 559.40px; height: 582px; left: 0px; top: 0px; position: absolute">
          <div style="width: 461.21px; height: 477.26px; left: 0px; top: 0px; position: absolute; background: white; border-top-left-radius: 20px"></div>
          <div style="width: 559.40px; height: 394.81px; left: 0px; top: 82.12px; position: absolute; background: #A8653B; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
          <div style="width: 515.02px; height: 560.37px; left: 0px; top: 21.63px; position: absolute; background: #522B00; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
        </div>
        <div style="width: 461.78px; height: 498px; left: 24.41px; top: 53px; position: absolute; color: white; font-size: 40px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Chúng tôi không chỉ là những nhà thiết kế, mà còn là những người bạn đồng hành trung thành trong hành trình xây dựng không gian của bạn. Với dịch vụ tư vấn thiết kế của chúng tôi, bạn sẽ nhận được sự hỗ trợ tận tâm và chuyên nghiệp từ đầu đến cuối dự án.</div>
      </div>
      <div style="width: 1345.30px; height: 69px; left: 64.43px; top: 3232px; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">Hãy để chúng tôi giúp bạn biến ước mơ về không gian sống lý tưởng thành hiện thực! <br/>Liên hệ với chúng tôi ngay hôm nay để bắt đầu hành trình tìm kiếm sự hoàn hảo và phong cách cho ngôi nhà của bạn!</div>
      <img style="width: 642.39px; height: 720px; left: 153.27px; top: 2405px; position: absolute" src="https://via.placeholder.com/642x720" />
    </div>
  </div>