<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="../css/profile.css" rel="stylesheet" /><title>Document</title></head>
        <body>
            <div class="v548_1006"><div class="v548_1007"></div><div class="v548_993"><div class="v548_1025"></div><div class="v548_995">
                <div class="v548_996"></div><div class="v548_999"><div class="v548_1000"></div><span class="v548_1001">Kiến Trúc sư</span></div>
                <div class="v548_1002"><div class="v548_1003"></div><span class="v548_1004">Khách Hàng</span></div>
                <span class="v548_1005">Bạn đã có tài khoản?   ĐĂNG NHẬP TẠI ĐÂY</span><span class="v548_997">Đăng nhập bằng:</span>
                <span class="v578_744">Xin chào</span></div></div><div class="v687_700"></div></div></body></html>