<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet" />
    <link href="../css/stafflist.css" rel="stylesheet" />
    <title>Staff List</title>
</head>
<body>
    <body>
        <div class="v453_1853">
            <div class="v453_1854"></div>
            <div class="v453_1855"></div><span class="v453_1856">Staff List</span><span class="v453_1857">Vu Gia</span>
            <div class="v453_1858"></div><span class="v453_1859">Staff Name</span><span class="v453_1860">Phone
                number</span><span class="v453_1861">Staff Code</span><span class="v453_1862">Email</span>
            <div class="name"></div>
            <div class="v453_1864"></div>
            <div class="v453_1865"></div>
            <div class="v453_1866"></div>
            <div class="v453_1867"></div>
            <div class="v453_1868">
                <div class="v453_1869"></div><span class="v453_1870">Search</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Staff Name</td>
                        <td>Staff Code</td>
                        <td>Phone number</td>
                        <td>Email</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>Đặng Tiểu Bảo</tr>
                    <tr>ST4952</tr>
                    <tr>0123456789</tr>
                    <tr>BDT@gmail.com</tr>
                </tbody>
            </table>
        </div>
    </body>
</body>
</html>