<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet" />
    <link href="../css/stafflist.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v453_1853">
        <div class="v453_1854"></div>
        <div class="v453_1855"></div><span class="v453_1856">Staff List</span><span class="v453_1857">Vu Gia</span>
        <div class="v453_1858"></div><span class="v453_1859">Staff Name</span><span class="v453_1860">Phone
            number</span><span class="v453_1861">Staff Code</span><span class="v453_1862">Email</span>
        <div class="name"></div>
        <div class="v453_1864"></div>
        <div class="v453_1865"></div>
        <div class="v453_1866"></div>
        <div class="v453_1867"></div>
        <div class="v453_1868">
            <div class="v453_1869"></div><span class="v453_1870">Search</span>
        </div>
        <div class="v453_1871"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div><span class="v453_1876">Staff Name</span><span class="v453_1877">Email</span><span
            class="v453_1878">Phone number</span>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div><span class="v453_1888">Đặng Tiểu Bảo</span><span class="v453_1893">ST4952</span><span
            class="v453_1894">BDT@gmail.com</span><span class="v453_1897">0123456789</span>
        <div class="v453_1900">
            <div class="v453_1901"></div><span class="v453_1902">View</span>
        </div>
        <div class="name"></div><span class="v453_1910">Information</span><span class="v453_1911">Staff Code</span>
        <div class="name"></div>
    </div>
</body>
</html>