<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+SemiBold&display=swap" rel="stylesheet" />
    <link href="../css/stafflist.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v759_5022">
        <div class="v759_5023">
            <div class="v759_5024">
                <div class="v759_5025"></div><span class="v759_5026">Staffs List</span>
            </div>
            <div class="v759_5027">
                <div class="v759_5028"></div><span class="v759_5029">Vu Gia</span>
            </div>
        </div>
        <div class="v759_5030"></div><span class="v759_5031">Staff code</span><span class="v759_5032">Staff
            name</span><span class="v759_5033">Email</span><span class="v759_5034">Phone number</span><span
            class="v759_5035">Information</span>
        <div class="name"></div>
        <div class="v759_5037"><span class="v759_5038">ST49H452</span><span class="v759_5039">Đặng Tiểu Bảo</span>
            <div class="v759_5040"><span class="v759_5041">BDT@gmail.com</span></div><span
                class="v759_5042">0123456789</span>
            <div class="v759_5043">
                <div class="v759_5044"></div><span class="v759_5045">View</span>
            </div>
        </div>
        <div class="v759_5046">
            <div class="v759_5047">
                <div class="v759_5048"></div>
                <div class="v759_5049"><span class="v759_5050">My Profile</span><span class="v759_5051">My
                        catalog</span><span class="v759_5052">Log out</span><span class="v759_5053">Account</span></div>
                <div class="v759_5054"><span class="v759_5055">Facebook</span><span
                        class="v759_5056">Instagram</span><span class="v759_5057">Twitter</span><span
                        class="v759_5058">Stay Connected</span></div>
                <div class="v759_5059"><span class="v759_5060">Projects</span><span class="v759_5061">Rooms</span><span
                        class="v759_5062">Inspirations</span><span class="v759_5063">About Us</span><span
                        class="v759_5064">Terms & Policy</span><span class="v759_5065">Menu</span></div>
                <div class="v759_5066"><span class="v759_5067">www.noithatvugia.com</span><span class="v759_5068">VU GIA
                        furniture</span><span class="v759_5069">Worldwide furniture store since 2020. We sell over 1000+
                        branded products on our website</span>
                    <div class="v759_5070"><span class="v759_5071">HaNoi, VietNam</span>
                        <div class="v759_5072">
                            <div class="name"></div>
                        </div>
                    </div>
                    <div class="v759_5076"><span class="v759_5077">+6289 456 3455</span>
                        <div class="v759_5078">
                            <div class="v759_5079"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="name"></div>
        <div class="v759_5081">
            <div class="v759_5082"></div>
            <div class="v759_5083"><span class="v759_5084">Designer</span></div>
            <div class="v759_5085">
                <div class="v759_5086"></div><span class="v759_5087">About</span><span class="v759_5088">Log out</span>
                <div class="name"></div><span class="v759_5090">Blogs</span><span class="v759_5091">Customer</span><span
                    class="v759_5092">Staff</span>
                <div class="v759_5093"></div><span class="v759_5094">Account</span><span
                    class="v759_5095">Schedule</span>
                <div class="v759_5096"><span class="v759_5097">Project</span>
                    <div class="name"></div>
                </div>
            </div>
        </div><span class="v759_5099">Staff Name</span><span class="v759_5100">Phone number</span><span
            class="v759_5101">Staff Code</span><span class="v759_5102">Email</span>
        <div class="v759_5103"></div>
        <div class="v759_5104"></div>
        <div class="v759_5105"></div>
        <div class="v759_5106"></div>
        <div class="v759_5107">
            <div class="v759_5108"></div><span class="v759_5109">Search</span>
        </div>
        <div class="name"></div>
    </div>
</body>

</html>