<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Devanagari&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v602_1055">
        <div class="v602_1056"></div>
        <div class="v602_1057"></div>
        <div class="v602_1058"></div>
        <div class="v602_1059"></div>
        <div class="v602_1060"></div><span class="v602_1061">Tran Cong Thanh</span><span
            class="v602_1062">@daodcupheco</span><span class="v602_1063">Name:</span><span
            class="v602_1064">Email</span><span class="v602_1065">Phone number</span><span
            class="v602_1066">Birthday</span><span class="v602_1067">Password</span>
        <div class="v602_1068"></div>
        <div class="v679_736"></div>
        <div class="v602_1069"></div>
        <div class="v602_1070"></div>
        <div class="v602_1071"></div>
        <div class="name"></div><span class="v602_1073">Dao Minh</span><span class="v679_737">Duc</span><span
            class="v602_1074">daominhduc@gmail.com</span><span class="v602_1075">0123456789</span><span
            class="v602_1076">20-02-2001</span>
        <div class="v679_741">
            <div class="v602_1072"></div><span class="v602_1077">********</span>
        </div>
        <div class="v602_1093"></div>
        <div class="v679_743">
            <div class="v602_1094"></div>
        </div><span class="v602_1096">Profile</span><span class="v602_1097">Cancle</span>
        <div class="v679_742">
            <div class="v602_1095"></div><span class="v602_1098">Submit</span>
        </div>
        <div class="v679_744">
            <div class="v679_738">
                <div class="v679_739"></div><span class="v679_740">Change password</span>
            </div>
        </div>
    </div>
</body>

</html>