.manufactoring-process {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.design-and-build {
    height: 80%;
}

.design {
    display: flex;
}

.design .bg-text {
    position: relative;
    width: 45%;
    margin: auto 0;
    height: 280px;
    background-color: #D9D9D9;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: -10px 20px 30px 5px;
}

.design .bg-text .text {
    position: absolute;
    background: linear-gradient(90deg, #A8653B 0%, #422817 100%);
    width: 70%;
    height: 54%;
    color: #FFF;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    top: 20%;
    left: 0;
    align-content: center;
    font-size: 80px;
    text-align: center;
    font-family: serif;
}

.design .bg-text .button-view-service {
    rotate: 90deg;
    background-color: #422817;
    height: 25%;
    width: 280px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-6px, 3px);
    cursor: pointer;
}

.design .bg-text .button-view-service:hover {
    opacity: 70%;
}

.design .service-image {
    width: 40%;
}

.and {
    text-align: center;
    color: #1F0D02;
    font-family: Jacques Francois Shadow;
    font-weight: 400;
    line-height: 120px;
    word-wrap: break-word;
    font-size: 80px;
}

.build {
    display: flex;
    flex-direction: row-reverse;
}

.build .bg-text {
    position: relative;
    width: 45%;
    margin: auto 0;
    height: 280px;
    background-color: #D9D9D9;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: -10px 20px 30px 5px;
}

.build .service-image {
    width: 40%;
}

.build .bg-text .text {
    position: absolute;
    background: linear-gradient(90deg, #A8653B 0%, #422817 100%);
    width: 70%;
    height: 54%;
    color: #FFF;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    top: 20%;
    right: 0;
    align-content: center;
    font-size: 80px;
    text-align: center;
    font-family: serif;
}

.build .bg-text .button-view-service {
    rotate: -90deg;
    background-color: #422817;
    height: 25%;
    width: 280px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 40%;
    left: -10%;
    transform: translate(6px, -20px);
    cursor: pointer;
}

.build .bg-text .button-view-service:hover {
    opacity: 70%;
}

.get-price {
    height: 70px;
    width: 350px;
    border: 5px #5b3000 solid;
    text-align: center;
    align-content: center;
    margin-left: 8%;
    color: #000000;
    font-size: 28px;
    font-family: Philosopher;
    font-weight: 700;
    word-wrap: break-word;
    cursor: pointer;
}

.get-price:hover {
    background-color: #a8653b;
    color: white;
}