.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AIchatBoxIcon {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: auto;
  padding: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Class CSS cho thẻ <select> */
.pending, .approved, .reject {
  border-radius: 10px;
  border: 1px solid black;
  width: 140px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.pending {
  background-color: #cec72e;
}

.approved {
  background-color: #18AA00;
}

.reject {
  background-color: #FF0000;
}

/* Class CSS cho các <option> khi dropdown */
select option {
  background-color: white; /* Đặt màu nền trắng cho tất cả các <option> */
  color: black; /* Đặt màu chữ đen cho tất cả các <option> */
}

.custom-image-list {
  grid-template-columns: repeat(3, 1fr) !important;
}
