* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v52_2503 {
  width: 100%;
  height: 2249px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v86_373 {
  width: 100%;
  height: 113px;
  background: url("../images/v86_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v55_2557 {
  width: 100%;
  height: 919px;
  background: url("../images/v55_2557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 0px;
  overflow: hidden;
}
.v55_2571 {
  width: 100%;
  color: url("../images/v55_2571.png");
  position: absolute;
  top: 22px;
  left: 209px;
  font-family: Goldman;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v56_360 {
  width: 100%;
  height: 432px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 160px;
}
.v55_2558 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 478px;
  left: 207px;
  font-family: Goldman;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
}
.v55_2600 {
  width: 317px;
  height: 287px;
  background: url("../images/v55_2600.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1155px;
  left: 24px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v55_2617 {
  width: 317px;
  height: 287px;
  background: url("../images/v55_2617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1524px;
  left: 24px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v55_2618 {
  width: 317px;
  height: 287px;
  background: url("../images/v55_2618.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1524px;
  left: 380px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v55_2619 {
  width: 317px;
  height: 287px;
  background: url("../images/v55_2619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1524px;
  left: 736px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v55_2620 {
  width: 317px;
  height: 287px;
  background: url("../images/v55_2620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1524px;
  left: 1092px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v55_2601 {
  width: 317px;
  height: 287px;
  background: url("../images/v55_2601.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1155px;
  left: 380px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v55_2602 {
  width: 317px;
  height: 287px;
  background: url("../images/v55_2602.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1155px;
  left: 739px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v55_2615 {
  width: 317px;
  height: 287px;
  background: url("../images/v55_2615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1155px;
  left: 1098px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v55_2604 {
  width: 346px;
  color: rgba(184,22,22,1);
  position: absolute;
  top: 1065px;
  left: 530px;
  font-family: Glory;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v85_913 {
  width: 100%;
  height: 38px;
  background: url("../images/v85_913.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 289px;
  overflow: hidden;
}
.v85_914 {
  width: 329px;
  height: 22px;
  background: url("../images/v85_914.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v85_915 {
  width: 73px;
  height: 24px;
  background: url("../images/v85_915.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v85_916 {
  width: 45px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v85_918 {
  width: 35px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 113px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_919 {
  width: 144px;
  height: 38px;
  background: url("../images/v85_919.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1009px;
  overflow: hidden;
}
.v85_920 {
  width: 100%;
  height: 38px;
  background: url("../images/v85_920.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 289px;
  overflow: hidden;
}
.v85_921 {
  width: 329px;
  height: 22px;
  background: url("../images/v85_921.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v85_926 {
  width: 144px;
  height: 38px;
  background: url("../images/v85_926.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1009px;
  overflow: hidden;
}
.v85_927 {
  width: 40px;
  height: 40px;
  background: url("../images/v85_927.png");
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 1362px;
  border-radius: 50%;
}
.v85_928 {
  width: 40px;
  height: 40px;
  background: url("../images/v85_928.png");
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 1362px;
}
.v85_929 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 44px;
  left: 155px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_930 {
  width: 63px;
  color: rgba(0,0,0,0);
  position: absolute;
  top: 44px;
  left: 155px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_931 {
  width: 35px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 49px;
}
.v85_932 {
  width: 35px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 49px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v85_935 {
  width: 119px;
  height: 21px;
  background: url("../images/v85_935.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 697px;
  overflow: hidden;
}
.v85_936 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_937 {
  width: 119px;
  height: 21px;
  background: url("../images/v85_937.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 697px;
  overflow: hidden;
}
.v85_938 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_939 {
  width: 63px;
  height: 21px;
  background: url("../images/v85_939.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 867px;
  overflow: hidden;
}
.v85_940 {
  width: 42px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_941 {
  width: 63px;
  height: 21px;
  background: url("../images/v85_941.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 867px;
  overflow: hidden;
}
.v85_942 {
  width: 42px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_943 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1014px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_944 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1014px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_945 {
  width: 69px;
  height: 24px;
  background: url("../images/v85_945.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 548px;
  overflow: hidden;
}
.v85_946 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v85_947 {
  width: 69px;
  height: 24px;
  background: url("../images/v85_947.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 548px;
  overflow: hidden;
}
.v85_948 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_2621 {
  width: 13px;
  height: 13px;
  background: rgba(184,22,22,1);
  opacity: 1;
  position: absolute;
  top: 1855px;
  left: 663px;
  border-radius: 50%;
}
.v55_2622 {
  width: 13px;
  height: 13px;
  background: rgba(188,101,101,1);
  opacity: 1;
  position: absolute;
  top: 1855px;
  left: 685px;
  border-radius: 50%;
}
.v55_2625 {
  width: 13px;
  height: 13px;
  background: rgba(188,101,101,1);
  opacity: 1;
  position: absolute;
  top: 1855px;
  left: 685px;
  border-radius: 50%;
}
.v55_2628 {
  width: 13px;
  height: 13px;
  background: rgba(188,101,101,1);
  opacity: 1;
  position: absolute;
  top: 1855px;
  left: 706px;
  border-radius: 50%;
}
.v55_2629 {
  width: 13px;
  height: 13px;
  background: rgba(188,101,101,1);
  opacity: 1;
  position: absolute;
  top: 1855px;
  left: 728px;
  border-radius: 50%;
}
.v55_2630 {
  width: 13px;
  height: 13px;
  background: rgba(188,101,101,1);
  opacity: 1;
  position: absolute;
  top: 1855px;
  left: 750px;
  border-radius: 50%;
}
.v404_960 {
  width: 100%;
  height: 325px;
  background: url("../images/v404_960.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1923px;
  left: 28px;
  overflow: hidden;
}
.v404_961 {
  width: 100%;
  height: 298px;
  background: rgba(218,187,167,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  overflow: hidden;
}
.v404_962 {
  width: 100%;
  height: 298px;
  background: rgba(218,187,167,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  overflow: hidden;
}
.v404_963 {
  width: 162px;
  height: 132px;
  background: url("../images/v404_963.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 1097px;
  overflow: hidden;
}
.v404_964 {
  width: 75px;
  color: rgba(96,96,96,1);
  position: absolute;
  top: 39px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_965 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_966 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 110px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_967 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gentium Book Basic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v404_968 {
  width: 117px;
  height: 203px;
  background: url("../images/v404_968.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 699px;
  overflow: hidden;
}
.v404_969 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 39px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_970 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_971 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 110px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_972 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 146px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_973 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 181px;
  left: 0px;
  font-family: Gabriela;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_974 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gentium Book Basic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v404_975 {
  width: 259px;
  height: 210px;
  background: url("../images/v404_975.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 211px;
  overflow: hidden;
}
.v404_976 {
  width: 157px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 189px;
  left: 0px;
  font-family: Abhaya Libre SemiBold;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_977 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gentium Book Basic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v404_978 {
  width: 259px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 39px;
  left: 0px;
  font-family: Abhaya Libre SemiBold;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_979 {
  width: 138px;
  height: 21px;
  background: url("../images/v404_979.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 1px;
  overflow: hidden;
}
.v404_980 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 28px;
  font-family: Abhaya Libre SemiBold;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_981 {
  width: 20px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v404_985 {
  width: 135px;
  height: 21px;
  background: url("../images/v404_985.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 153px;
  left: 0px;
  overflow: hidden;
}
.v404_986 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 29px;
  font-family: Abhaya Libre SemiBold;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_987 {
  width: 20px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v404_988 {
  width: 16px;
  height: 13px;
  background: rgba(137,137,137,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v404_989 {
  width: 100%;
  background: url("../images/v404_989.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 106px;
  border: 1px solid rgba(232,159,113,1);
}
.v404_990 {
  width: 100%;
  background: url("../images/v404_990.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 106px;
  border: 1px solid rgba(232,159,113,1);
}
