* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v602_1055 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v602_1056 {
  width: 100%;
  height: 264px;
  background: url(".DefaultProfile.png") no-repeat center center / cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v602_1057 {
  width: 227px;
  height: 217px;
  background: rgba(255,180,133,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 606px;
  border-radius: 50%;
}
.v602_1058 {
  width: 227px;
  height: 217px;
  background: url("../images/v602_1058.png");
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 606px;
  border: 1px solid rgba(0,0,0,1);
}
.v602_1059 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 754px;
  border-radius: 50%;
}
.v602_1060 {
  width: 15px;
  height: 15px;
  background: url("../images/v602_1060.png");
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 761px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1061 {
  width: 436px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 502px;
  font-family: IBM Plex Sans Devanagari;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v602_1062 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 429px;
  left: 622px;
  font-family: IBM Plex Sans Devanagari;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v602_1063 {
  width: 248px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 486px;
  left: 262px;
  font-family: IBM Plex Sans Devanagari;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v602_1064 {
  width: 248px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 564px;
  left: 222px;
  font-family: IBM Plex Sans Devanagari;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v602_1065 {
  width: 248px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 293px;
  font-family: IBM Plex Sans Devanagari;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v602_1066 {
  width: 248px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 730px;
  left: 241px;
  font-family: IBM Plex Sans Devanagari;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v602_1067 {
  width: 248px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 208px;
  font-family: IBM Plex Sans Devanagari;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v602_1068 {
  width: 590px;
  height: 49px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 491px;
  left: 552px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1069 {
  width: 590px;
  height: 49px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 572px;
  left: 552px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1070 {
  width: 590px;
  height: 49px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 655px;
  left: 552px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1071 {
  width: 590px;
  height: 49px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 552px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1072 {
  width: 590px;
  height: 49px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 826px;
  left: 552px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1073 {
  width: 590px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 494px;
  left: 552px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v602_1074 {
  width: 590px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 575px;
  left: 552px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v602_1075 {
  width: 590px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 658px;
  left: 552px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v602_1076 {
  width: 590px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 746px;
  left: 552px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v602_1077 {
  width: 590px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 829px;
  left: 552px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v602_1078 {
  width: 54px;
  height: 55px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 485px;
  left: 1177px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1079 {
  width: 54px;
  height: 55px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 569px;
  left: 1177px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1080 {
  width: 54px;
  height: 55px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 652px;
  left: 1177px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1081 {
  width: 54px;
  height: 55px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 735px;
  left: 1177px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1082 {
  width: 54px;
  height: 55px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 818px;
  left: 1177px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1083 {
  width: 27px;
  height: 22px;
  background: url("../images/v602_1083.png");
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 1189px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1084 {
  width: 27px;
  height: 22px;
  background: url("../images/v602_1084.png");
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 1189px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1085 {
  width: 27px;
  height: 22px;
  background: url("../images/v602_1085.png");
  opacity: 1;
  position: absolute;
  top: 670px;
  left: 1189px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1086 {
  width: 27px;
  height: 22px;
  background: url("../images/v602_1086.png");
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 1189px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1087 {
  width: 27px;
  height: 22px;
  background: url("../images/v602_1087.png");
  opacity: 1;
  position: absolute;
  top: 836px;
  left: 1189px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1088 {
  width: 22px;
  height: 17px;
  background: url("../images/v602_1088.png");
  opacity: 1;
  position: absolute;
  top: 501px;
  left: 1198px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1089 {
  width: 22px;
  height: 17px;
  background: url("../images/v602_1089.png");
  opacity: 1;
  position: absolute;
  top: 585px;
  left: 1198px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1090 {
  width: 22px;
  height: 17px;
  background: url("../images/v602_1090.png");
  opacity: 1;
  position: absolute;
  top: 668px;
  left: 1198px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1091 {
  width: 22px;
  height: 17px;
  background: url("../images/v602_1091.png");
  opacity: 1;
  position: absolute;
  top: 751px;
  left: 1198px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1092 {
  width: 22px;
  height: 17px;
  background: url("../images/v602_1092.png");
  opacity: 1;
  position: absolute;
  top: 834px;
  left: 1198px;
  border: 2px solid rgba(0,0,0,1);
}
.v602_1093 {
  width: 333px;
  height: 78px;
  background: url("../images/v602_1093.png");
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 13px;
}
.v602_1094 {
  width: 183px;
  height: 57px;
  background: rgba(167,101,59,1);
  opacity: 1;
  position: absolute;
  top: 909px;
  left: 53px;
}
.v602_1095 {
  width: 183px;
  height: 57px;
  background: rgba(167,101,59,1);
  opacity: 1;
  position: absolute;
  top: 915px;
  left: 1203px;
}
.v602_1096 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 317px;
  left: 70px;
  font-family: Calistoga;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v602_1097 {
  width: 166px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 909px;
  left: 62px;
  font-family: IBM Plex Sans Devanagari;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v602_1098 {
  width: 182px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 915px;
  left: 1204px;
  font-family: IBM Plex Sans Devanagari;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
